<template lang="html">
  <div id="services-page">
    <div class="row mx-0 align-items-center banner">
      <div class="col-12">
        <h1>Servicios</h1>
      </div>
    </div>

    <hr class="line">

    <div class="container mt-5 pb-3 pb-lg-5 content">
      <div class="row mb-5">
        <div class=" mb-4 mb-lg-0 col-lg-4 oferta" v-on:click="$router.push('/rifa');" style="border-radius: 1rem;cursor: pointer;">
          <img class="mb-3 img-fluid icon" src="public/images/pages/services/clientes_consentidos.png">
          <h3>Clientes consentidos</h3>
          <p class="mb-0">
            Realizamos una rifa
            mensual para nuestros
            clientes mas consentidos.
            Suscríbete a la rifa aquí y
            participa por los mejores
            premios.
            Los ganadores se publican
            vía Facebook, WhatsApp y
            nuestro mostrador.
          </p>
        </div>

        <div class="col-lg-4">
          <img class="mb-3 img-fluid icon" src="public/images/pages/services/Envios_foraneos.png">
           <h3>Envios foraneos</h3>
          <p class="mb-0">
            Si su domicilio se encuentra fuera de Guadalajara y desea comprar un producto
            o refacción con nosotros, se lo podemos enviar con mucho gusto por las paqueterias
            de FedEx, Estafeta, Dhl, o Paquete Express.
          </p>
        </div>

        <div class="col-lg-4">
          <img class="mb-3 img-fluid icon" src="public/images/pages/services/whatsapp.png">
          <h3>Compra por WhatsApp</h3>
          <p class="mb-0">
            Hules Becerra siempre de
            la mano con la tecnología
            te permite hacer pedidos
            por WhatsApp.
            Agréganos;
            33 17 28 38 18
            Y especifícanos lo que
            necesitas.
            Nuestro personal esta listo
            pata ayudarte.
            </p>
        </div>
      </div>

      <div class="row mb-5">

        <div class=" mb-4 mb-lg-0 col-lg-4">
          <img class="mb-3 img-fluid icon" src="public/images/pages/services/asesoria.png"> 
          <h3>Asesoria</h3>
          <p class="mb-0">
            Sabemos lo desesperante
            que es no poder encontrar
            una refacción, nuestros
            asesores te pueden ayudar
            a encontrar la pieza exacta.
            Solo necesitas tener a la
            mano los siguientes datos
            Modelo, Motor, Año y
            Pieza del vehículo. En caso
            de ser
            material por metro
            únicamente se requiere el
            área a cubrir.
          </p>
        </div>

        <div class="col-lg-4 hand oferta" v-on:click="$router.push('/garantia');" style="border-radius: 1rem;cursor: pointer;">
          <img class="mb-3 img-fluid icon" src="public/images/pages/services/garantia.png">
           <h3>Garantía</h3>
          <!--  -->

          <p class="mb-0">
          Todos nuestros productos
          tienen garantía.<br>
          Si requieres reclamar la
          garantía de un producto
          por defecto o
          malfuncionamiento
          envíanos tu información
          aquí para solucionarlo lo
          antes posible.
          </p>
        </div>

        <div class="col-lg-4">
          <img class="mb-3 img-fluid icon" src="public/images/pages/services/servicioexpress.png">
          <h3>Servicio exprés en ZMG</h3>
            <!--  -->
          <p class="mb-0">
              Contamos con servicio de
              mensajería para abastecer
              la entrega dentro de la
              ZMG con un tiempo
              máximo de 90 minutos de
              espera.
          </p>
        </div>

      </div>

      <div class="row mb-5">
        <div class="mb-4 mb-lg-0 col-lg-12 text-center">
          <h3>Aceptamos pagos en</h3>
        </div>
      </div>
      <div class="row">
        <div class="mb-4 mb-lg-0 col-lg-3">
          <img style="width: 160px" src="public/images/oxxo.png">
        </div>
        <div class="mb-4 mb-lg-0 col-lg-3">
          <img style="width: 200px" src="public/images/hsbc.png">
        </div>
        <div class="mb-4 mb-lg-0 col-lg-3">
          <img style="width: 230px" src="public/images/mercado.png">
        </div>
        <div class="mb-4 mb-lg-0 col-lg-3">
          <img style="width: 220px" src="public/images/transferencia.png">
        </div>
      </div>


    </div>

    <hr class="line">
  </div>

</template>

<script>
export default {
 
}
</script>
<style type="text/css">
  .hand{
    cursor: pointer;
  }
</style>
<style lang="scss" scoped>
  .oferta {
  background-color: #fff;
  transform: scale(0.99);
  transition: all 0.3s ease;
  &:hover {
    background-color: #f6f6f6; 
    transform: scale(1);
  }
}
</style>
