<template>
	<div id="preguntas">
		 <div class="row mx-0 align-items-center banner">
      <div class="col-12 d-flex justify-content-center">
        <h1>Preguntas Frecuentes</h1>
      </div>
    </div>

    <hr class="line">
		<div class="container oversized-container">
			<div class="row">
				<div class="col">
				
					<h4>1.-¿Cómo debo realizar una cotización?</h4>
					<p>Si necesita una refacción automotriz es necesario tener a la mano Marca, Modelo, Año, Motor, Posición de la pieza que necesita. La forma correcta de solicitar la posición de las refacciones deben solicitarse tomando en cuenta que usted esta sentado en el volante;
					En el caso que usted requiera una cotización de Tapete Automotriz, Hule pasillo, Neopreno y/o Empaque, es necesario que nos proporcione el área a cubrir.</p>

					<h4>2.-¿Cuentan con servicio a domicilio?</h4>
					<p>Contamos con equipo de reparto para el área de Guadalajara. 
						En el caso de que usted sea un cliente foráneo y deseé comprar un producto o refacción se lo 
						podemos enviar por la paquetería o fletera de su preferencia.</p>

					<h4>3.-¿Cómo me puedo comunicarme con ustedes?</h4>	
					<p>Nuestras 3 líneas telefónicas son las siguientes: 01 (33) 36-46-09-45, 01 (33) 35-87-77-36 y 01 (33) 33-67-48-95.<br>
						Nuestro número de WhatsApp es: 044-33-17-28-38-18<br>
						Nuestro Facebook: HULES Automotrices Becerra GDL<br>
						Nuestra Página de Google +: HULES AUTOMOTRICES BECERRA<br>
						Email: contacto@hulesbecerra.com</p>
					<h4>4.-¿Cuál es su horario de atención?</h4>
					<p>Lunes a Viernes: 9:00 am a 3:00 pm y de 4:00 pm a 6:30 pm
						Sábados: 9:00 am a 2:00 pm</p>
					<h4>5.-¿Qué Garantía tienen los productos que comercializan?</h4>
					<p>Los productos a base de hule-metal tienen 3 meses de garantía en nuestra tienda, y
						los productos que comprenden el sistema de enfriamiento 2 meses de garantía.</p>
					
					<h4>6.-¿Qué productos puedo encontrar con ustedes?</h4>
					<p>
						• Soportes de Motor,
						• Soportes de Transmisión,
						• Cubrepolvos y/o Machetas,
						• Bases de amortiguador,
						• Repuestos de Soportes,
						• Mangueras para Radiador,
						• Mangueras del Cuerpo de Aceleración,
						• Mangueras de Vació,
						• Mangueras de Gasolina,
						• Bandas Automotrices e Industriales,
						• Hules de Barra,
						• Hules de Poliuretano,
						• Hules de Escape,
						• Hules de Cremallera,
						• Hules de amortiguador,
						• Calzas,
						• Casetas,
						• Hule Pela Pollos,
						• Sordinas,
						• Regatones
						• Coples y Galletas de Dirección,
						• Codos,
						• Fuelles,
						• Hules Misceláneos,
						• Placas de quinta rueda,
						• Pedales.<br>
						• Depósitos de Anticongelante, • Radiadores, • Poleas de Accesorios y/o Poleas de Distribución,
						 • Tensores, • Tubos de Agua, • Termostatos, • Bombas de Agua, • Tomas de Agua, • Anticongelante.
						 • Empaques de Puerta, • Empaques de Cajuela, • Cañuelas, • Empaques planos, • Hule Pasillo, • Neopreno, • Nitrilo Sanitario, • Tapete para Caballo, • Antifatigas, • Picos de Pájaro, • Topes de Rebote, • Loderas, • Topes de Estacionamiento, • Tapetes Automotrices. • Limpiaparabrisas,
						  • Pegamento Automotriz, • Abrazaderas, • Grapas Automotrices, • Autopartes, • Ligas,<br> y muchos productos más de estos ramos.
						</p>
				</div>
			</div>
		</div>
		
    </div>
</template>

<script type="text/javascript">
export default {
	data(){
		return{
		}
	},
    mounted() {
        console.log('preguntas frecuentes has been mounted')
    },
	}
</script>
