#blog {

        p {
            text-align: justify;
        }
    
        .banner {
            height: 200px;
            color: #fff;

            h1 {
                color: #000;
                font-weight: 700;
                font-size: 3.3rem;
            }
        }

        .img-fluid {
            max-width: 800px;

            img {
                width: 100%;
            }
        }
    
}