#company-page{
  .banner{
    height: 200px;
    color: #fff;
    background-image: url('../images/pages/company/banner_empresa.jpg');
    background-size:cover;
    background-position-y:32%;

    h1{
      margin: 0;
      font-size: 3.3rem;
      font-weight: 700;
      text-align: center;
      text-shadow: 1px -2px 2px rgba(0,0,0,0.4);
    }

    @media screen and (max-width: 991px){
      padding-top: 20px;
      padding-bottom: 20px;
      height: auto;

      h1{
        font-size: 2.8rem;
      }
    }
  }

  .content{

    p {
      text-align: justify;
    }

    .logo-img{
      float: right;
      @media screen and (max-width: 454px){
        max-width: 145px;
      }
    }

    .bordered-img{
      display: inline-block;
      padding: 4px;
      border: 1px dotted rgba(0,0,0,0.4);
    }

    h5{
      font-size: 1.05rem;
      font-weight: 700;
    }
    h6{
      font-size: 0.95rem;
      font-weight: 600;
    }

    ul{
      padding-left: 25px;
    }

    .txt-gray-sm{
      color: #727272;
      font-size: 0.9rem;
    }

    .why-us{
      .icon{
        display: inline-block;
        height: 100px;
      }

      h4{
        font-weight: 700;
      }

      h6{
        font-size: 0.85rem;
        font-weight: 700;
      }

      p{
        font-size: 0.85rem;
        text-align: justify;
      }
    }

    @media screen and (max-width: 991px){
      font-size: 0.95rem;
    }
  }
}
