#garantias {

      .banner{
    height: 200px;
    color: #fff;
    background-image: url('../images/pages/garantia/garantia.JPG');
    background-size:cover;
    background-position-y:80%;

    h1{
      margin: 0;
      font-size: 3.3rem;
      font-weight: 700;
      text-align: center;
      text-shadow: 1px -2px 2px rgba(0,0,0,0.4);
    }

    @media screen and (max-width: 991px){
      padding-top: 20px;
      padding-bottom: 20px;
      height: auto;

      h1{
        font-size: 2.8rem;
      }
    }
  }

    .line{
        border-top: 2px dashed rgba(0, 0, 0, 0.3);
    }

    .content{
        text-align: center;

        p{
        font-size: 1.05rem;
        font-weight: 300;
        text-align: justify;
        }

        .icon{
        height: 150px;
        }
    }

    .form-group {
        display: flex;
        align-items: center;
        flex-direction: column;

        ::placeholder {
            text-align: center;
        }
        
        label {
            font-weight: 700;
            color: green;
        }

        .factura {
            margin-right: 15px;
            }

        textarea {
            max-width: 80%;
            min-width: 80%;
            min-height: 100px;
        }
    }
}

