#legal-page{
  .row-top{
    @media screen and (min-width: 992px){
      height: 45px;
    }
    @media screen and (min-width: 1230px){
      height: 130px;
    }
  }

  .content{
    font-size: 0.95rem;

    h1,.main-title{
      font-size: 1.9rem;
      font-weight: 600;
    }
    @media screen and (max-width: 991px){
      .main-title{
        font-size: 1.5rem;
      }
    }
  }
}
