#home-page{
	.banners-section{
		.swiper-container {
			.swiper-slide{
				background-color: #fff;
				height: 585px;

				.slide-content{
					color: #fff;
					h3{
						margin: 0;
						font-size: 74px;
						font-weight: 700;
						text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
					}
				}

				@media screen and (max-width: 991px){
					height: 410px;

					.slide-content{
						h3{
							font-size: 51px;
						}
					}
				}
				@media screen and (max-width: 660px){
					height: 330px;

					.slide-content{
						h3{
							font-size: 40px;
						}
					}
				}
				@media screen and (max-width: 400px){
					.slide-content{
						h3{
							font-size: 34px;
							line-height: 1.2;
						}
					}
				}
				@media screen and (min-width: 992px) and (max-width: 1450px){
					height: 470px;

					.slide-content{
						h3{
							font-size: 62px;
						}
					}
				}
			}

			.swiper-button-prev, .swiper-button-next{
				width: 32px;
				height: 50px;
				background-size: 32px 50px;
			}
			.swiper-button-prev{
				left: 40px;
				background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
			}
			.swiper-button-next{
				right: 40px;
				background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
			}

			@media screen and (max-width: 780px){
				.swiper-button-prev{
					left: 10px;
				}
				.swiper-button-next{
					right: 10px;
				}
			}
		}
	}

	.promos-section{
		.swiper-container {
			.swiper-slide{
				a{
					@extend .trans-250;

					&:hover{
						opacity: 0.8;
						text-decoration: none;
					}
				}
				.slide-content{
					height: 250px;

					.product-box{
						max-height: 100%;
						text-align: center;

						img{
							max-height: 250px;
						}
					}
				}

				.slide-text-content{
					color: #000;
					padding-top: 20px;
					.box-title{
						text-align: center;
						text-transform: uppercase;
						font-size: 0.97rem;
						font-weight: 700;
					}
				}
			}

			.swiper-button-prev, .swiper-button-next{
				@extend .trans-250;

				&:hover{
					opacity: 0.8;
				}
			}
			.swiper-button-prev{
				left: 5px;
				background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23208C52'%2F%3E%3C%2Fsvg%3E");
			}
			.swiper-button-next{
				right: 5px;
				background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23208C52'%2F%3E%3C%2Fsvg%3E");
			}
		}
	}
}
