<template>
  <div id="home-page">

    <section class="container-fluid px-0 banners-section"> 
      <swiper :options="swBannersOpts">
        <swiper-slide class="placed-backg"  v-for="banner in banners" :key="banner.id">  <!-- :style="'background-image: url('+ banner +');'" -->
          <div class="row mx-0 h-100 align-items-center slide-content" >
            <div class="text-center" style="height:100%">
              <img :src="banner.imageUrl" alt="">
              <!-- <h3>Bandas Automotrices<br /> e Industriales</h3> -->
            </div>
          </div>
        </swiper-slide>

        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>



    </section>
    <section class="container oversized-container px-0 pt-sm-5 pb-lg-5 mb-5 promos-section"  v-for="(c,i) in carruseles">
      <div class="col-12 text-center"><h3>{{c.nombre}}</h3></div>
      <swiper :options="c.options">
        <swiper-slide v-for="(producto, j) in c.productos" :key="producto.id">
          <router-link class="d-block" :to="'/productos/detalle/' + $root._converToURL(producto.name,producto.id)">
            <div class="row mx-0 align-items-end slide-content">
              <div class="col-12 px-sm-0 product-box">
                <img class="img-fluid" :src="producto.imageUrl">
              </div>
            </div>

            <div class="col-12 px-0 slide-text-content">
              <h6 class="box-title">{{ producto.sku }}</h6>
              <h6 class="box-title">{{ producto.subcategory.name}}</h6>
            </div>
          </router-link>
        </swiper-slide>

        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>
    </section>

  </div>
</template>

<script type="text/javascript">
export default {
  data(){
    return{
      banners: [],
      carruseles: [],
        /*{ name: 'BANDAS DE ACCESORIOS MICRO V', img: 'public/images/pages/products/p-1.jpg' },
        { name: 'LODERAS DE CAMIÓN', img: 'public/images/pages/products/p-2.jpg' },
        { name: 'TAPETE ANTIFATIGA', img: 'public/images/pages/products/p-3.jpg' },
        { name: 'Soportes de motor', img: 'public/images/pages/products/p-4.jpg' },
        { name: 'Neopreno SBR', img: 'public/images/pages/products/p-5.jpg' },
        { name: 'BOMBAS DE AGUA', img: 'public/images/pages/products/p-6.jpg' },
      ],*/

      swBannersOpts: {
        loop: false,
        speed: 900,
        effect: 'fade',
        autoplay: {
          delay: 4500,
          disableOnInteraction: false
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },

      /*swPromosOpts: {
        loop: true,
        speed: 450,
        slidesPerView: 3,
        spaceBetween: 30,
        // autoplay: {
        //   delay: 4500,
        //   disableOnInteraction: false
        // },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },

        breakpoints: {
          1170: {
            slidesPerView: 3
          },
          991: {
            slidesPerView: 2
          },
          575: {
            slidesPerView: 1
          }
        }
      }*/
    }
  },
  methods:{
    getBanners(){
      axios.get(tools.url('/api/front/banners')).then((response)=>{
        this.banners = response.data;
      }).catch((error)=>{
        console.log(error);
      });
    },
    /*getPromos(){
      axios.get(tools.url('/api/front/promos')).then((response)=>{
        this.promos = response.data;
      }).catch((error)=>{
        console.log(error);
      });
    },*/
    getCarruseles(){
      axios.get(tools.url('/api/front/carruseles')).then((response)=>{
        this.carruseles = response.data;
        for (var i = 0; this.carruseles.length - 1; i ++)
        {
          this.carruseles[i].options =  {
                                          loop: true,
                                          speed: 450,
                                          slidesPerView: this.carruseles[i].elementos,
                                          spaceBetween: 30,
                                          navigation: {
                                            nextEl: '.swiper-button-next',
                                            prevEl: '.swiper-button-prev'
                                          },
                                          breakpoints: {
                                            1170: {
                                              slidesPerView: 3
                                            },
                                            991: {
                                              slidesPerView: 2
                                            },
                                            575: {
                                              slidesPerView: 1
                                            }
                                          }
                                        };
        }
      }).catch((error)=>{
        console.log(error);
      });
    }
  },
  mounted(){
    this.getBanners();
    //this.getPcromos();
    this.getCarruseles();
  }
}
</script>
