<template>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="panel panel-primary" data-collapsed="0">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="fa fa-life-ring"></i> Modelos</div>
        <div class="panel-options">
          <a @click="$router.push('/models/')"><i class="fas fa-times"></i></a>
        </div>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal" @submit.prevent="newModels($event.target)">
          <input-form name="nombre" text="Nombre" :data.sync="model.name" validate="required"></input-form>
          <select-form text="Marca" :options="brands" :data.sync="model.brand_id" validate="required"></select-form>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-danger" @click="deleteModels" v-show="$route.params.id"><i class="fa fa-trash"></i> Borrar</button>
              <button type="submit" class="btn btn-success pull-right"><i class="far fa-save"></i> Guardar</button>
              <button type="button" class="btn btn-default pull-right" @click="$router.push('/models/')">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</template>
<script type="text/javascript">
export default {
  data() {
    return {
        model:{
          name:"",
          brand_id:{label: "Selecciona una marca",value: ""},
        },
        brands:[],
        id: "",
        check: false,
    }
  },
  methods: {
    getModel(){
       this.$parent.inPetition = true;
       axios.get(tools.url('/api/model/' +this.id)).then((response)=>{
          this.model = response.data;
          this.model.brand_id = {label:this.model.brand.name,value:this.model.brand.id};
          this.$parent.inPetition = false;
       }).catch((error)=>{
          this.$parent.handleErrors(error);
          this.$parent.inPetition = false;
       });
    },
    getBrands() {
      axios.get(tools.url("/api/brands")).then((response) => {
        this.brands = response.data;
        this.brands.forEach((v, k) => {
          this.brands[k].label = this.brands[k].name;
          this.brands[k].value = this.brands[k].id;
        });
      }).catch((error) => {
        this.$parent.handleErrors(error);
      });
    },
    newModels(form) {
      if(this.model.brand_id == null)
      {
        this.$parent.showMessage("Seleccione una marca","danger");
        return;
      }
      else if(this.model.brand_id.value == "")
      {
        this.$parent.showMessage("Seleccione una marca","danger");
        return;
      }
      this.$parent.inPetition = true;
      this.$parent.validateAll(() => {
        var data = tools.params(form, this.model);
        if (this.$route.params.id) {
          axios.post(tools.url("/api/model/" + this.id), data).then((response) => {
            if(response.data.msg)
              this.$parent.showMessage(response.data.msg, "danger");
            else
            {
              this.getModel();
              this.$parent.showMessage("Modelo " + this.model.name + " modificado correctamente!", "success");
            }
            this.$parent.inPetition = false;
          }).catch((error) => {
            this.$parent.handleErrors(error);
            this.$parent.inPetition = false;
          });
        } else {
          axios.post(tools.url("/api/model"), data).then((response) => {
            if(response.data.msg)
              this.$parent.showMessage(response.data.msg, "danger");
            else
            {
              var model = response.data;
              this.$parent.showMessage("Modelo " + model.name + " agregado correctamente!", "success");
              this.$router.push('/models/edit/' + model.id);
            }
            this.$parent.inPetition = false;
          }).catch((error) => {
            this.$parent.handleErrors(error);
            this.$parent.inPetition = false;
          });
        }
      }, (e) => {
        console.log(e);
        this.$parent.inPetition = false;
      });
    },
    
    deleteModels: function() {
      alertify.confirm("Alerta!", "¿Seguro que deseas borrar este modelo?", () => {
          this.$parent.inPetition = true;
          axios.delete(tools.url("/api/model/" + this.id)).then((response) => {
            this.$parent.showMessage(response.data.msg, "success");
            this.$router.push("/models/");
            this.$parent.inPetition = false;
          }).catch((error) => {
            this.$parent.handleErrors(error);
            this.$parent.inPetition = false;
          });
        },
        () => {});
    },
  },
  mounted() {
    if (this.$route.params.id) {
      this.id = this.$route.params.id;
      this.getModel();
    }
    this.getBrands();
  }
}
</script>
