<template>
  <div>
		<div class="row">
			<div class="col-md-12">
				<div id="toolbar">
			        <router-link to="/models/edit">
			        	<button class="btn btn-success btn-sm">
				            <i class="fa fa-plus"></i> Nuevo
				        </button>
			        </router-link>
			        <button class="btn btn-danger btn-sm" @click="deleteModels()">
			            <i class="fa fa-trash"></i> Borrar
			        </button>
			    </div>
				<table id="models"></table>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	export default {
    data(){
      return {
        models: {},
      }
    },
    methods: {
      mounthTable(){
        jQuery('#models').bootstrapTable({
        	columns: [
            {
              field:"check",
              checkbox:true,
              align: 'center',
            },
            {
              field: 'name',
              title: 'Nombre',
              sortable:true,
              switchable:true,
            },
            {
              field: 'brand.name',
              title: 'Marca a la que pertenece',
              sortable:true,
              switchable:true,
            }
        	],
        	showRefresh:true,
        });
        jQuery('#models').on('refresh.bs.table',()=>{
        	this.getModels();
        });
        jQuery('#models').on('click-row.bs.table',(row,data)=>{
        this.$router.push('/models/edit/'+data.id);
      });
        this.getModels();
			},
      getModels(){
          this.$parent.inPetition=true;
          axios.get(tools.url("/api/models")).then((response)=>{
            	this.models=response.data;
              jQuery('#models').bootstrapTable('removeAll');
              jQuery('#models').bootstrapTable('append',this.models);
              this.$parent.inPetition=false;
          }).catch((error)=>{
            this.$parent.handleErrors(error);
  			    this.$parent.inPetition=false;
          });
      },
      deleteModels:function(){
      		var rows=jQuery('#models').bootstrapTable('getAllSelections');
      		if(rows.length==0){
      			return false;
      		}
      		alertify.confirm("Alerta!","¿Seguro que deseas borrar "+rows.length+" registros?",()=>{
      			this.$parent.inPetition=true;
      			var params={};
      			params.ids=jQuery.map(rows,(row)=>{
      				return row.id;
      			});

      			axios.delete(tools.url('/api/models'),{data:params})
      			.then((response)=>{
      				this.$parent.showMessage(response.data.msg,"success");
      				this.getModels();
      				this.$parent.inPetition=false;
      			})
      			.catch((error)=>{
      				this.$parent.handleErrors(error);
      		        this.$parent.inPetition=false;
      			});

      		},
      		()=>{
      		});
  			}
    },
    mounted(){
      this.mounthTable();
    }
  }
</script>
