#footer{
  .bulletin-section{
    color: #fff;
    background-color: $green;

    .title-section{
      font-size: 24px;
      font-weight: 700;
    }
    .text{
      font-size: 1.05rem;
      line-height: 1.3;
    }

    .form-bulletin{
      @include placeholder(#fff, 400, normal, 1rem);

      .form-control,.btn{
        border-radius: 0;
      }
      .form-control{
        color: #fff;
        border-color: #fff;
        background-color: transparent;
      }
      .btn-bulletin{
        background-color: $black;
      }
    }
  }

  .footer-section{
    .footer-logo{
      width: 160px;
    }

    .footer-title{
      font-weight: 700;
    }

    p,a{
      margin: 0;
      color: #000;
      font-size: 1.05rem;
      word-break: break-all;
    }
    small{
      display: inline-block;
      line-height: 1.1;
    }
    a{
      text-decoration: underline;
    }
    .icon{
      font-size: 24px;
    }
  }

  .copyright-section{
    color: #fff;
    background-color: $green;
  }
}
