@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(font-icons/glyphicons/glyphicons-halflings-regular.eot?f4769f9bdb7466be65088239c12046d1);
  src: url(font-icons/glyphicons/glyphicons-halflings-regular.eot?f4769f9bdb7466be65088239c12046d1?#iefix) format("embedded-opentype"), url(font-icons/glyphicons/glyphicons-halflings-regular.woff2?448c34a56d699c29117adc64c43affeb) format("woff2"), url(font-icons/glyphicons/glyphicons-halflings-regular.woff?fa2772327f55d8198301fdb8bcfc8158) format("woff"), url(font-icons/glyphicons/glyphicons-halflings-regular.ttf?e18bbf611f2a2e43afc071aa2f4e1512) format("truetype"), url(font-icons/glyphicons/glyphicons-halflings-regular.svg?89889688147bd7575d6327160d64e760#glyphicons_halflingsregular) format("svg");
}