<template>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="panel panel-primary" data-collapsed="0">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="fa fa-life-ring"></i>Subcategorias</div>
        <div class="panel-options">
          <a @click="$router.push('/subcategories/')"><i class="fas fa-times"></i></a>
        </div>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal" @submit.prevent="newSubcategories($event.target)">
          <input-form name="nombre" text="Nombre" :data.sync="subcategory.name" validate="required"></input-form>
          <select-form text="Marca" :options="categories" :data.sync="subcategory.category_id" validate="required"></select-form>
          <checkbox-form name="available" text="Disponible en busqueda avanzada" class="text-center" :data.sync="subcategory.available" ></checkbox-form>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-danger" @click="deleteSubcategories" v-show="$route.params.id"><i class="fa fa-trash"></i> Borrar</button>
              <button type="submit" class="btn btn-success pull-right"><i class="far fa-save"></i> Guardar</button>
              <button type="button" class="btn btn-default pull-right" @click="$router.push('/subcategories/')">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</template>
<script type="text/javascript">
export default {
  data() {
    return {
        subcategory:{
          name:"",
          available:false,
          category_id:{label: "Selecciona una categoria",value: ""},
        },
        categories:[],
        id: "",
        check: false,
    }
  },
  methods: {
    getSubcategory(){
       this.$parent.inPetition = true;
       axios.get(tools.url('/api/subcategory/' +this.id)).then((response)=>{
          this.subcategory = response.data;
          this.subcategory.category_id = {label:this.subcategory.category.name,value:this.subcategory.category.id};
          this.subcategory.available = (response.data.available)?(true):(false);
          this.$parent.inPetition = false;
       }).catch((error)=>{
          this.$parent.handleErrors(error);
          this.$parent.inPetition = false;
       });
    },
    getCategories() {
      axios.get(tools.url("/api/categories")).then((response) => {
        this.categories = response.data;
        this.categories.forEach((v, k) => {
          this.categories[k].label = this.categories[k].name;
          this.categories[k].value = this.categories[k].id;
        });
      }).catch((error) => {
        this.$parent.handleErrors(error);
      });
    },
    newSubcategories(form) {
      if(this.subcategory.category_id == null)
      {
        this.$parent.showMessage("Seleccione una categoria","danger");
        return;
      }
      else if(this.subcategory.category_id.value == "")
      {
        this.$parent.showMessage("Seleccione una categoria","danger");
        return;
      }
      this.$parent.inPetition = true;
      this.$parent.validateAll(() => {
        var data = tools.params(form, this.subcategory);
        if (this.$route.params.id) {
          axios.post(tools.url("/api/subcategory/" + this.id), data).then((response) => {
            if(response.data.msg)
              this.$parent.showMessage(response.data.msg, "danger");
            else
            {
              this.getSubcategory();
              this.$parent.showMessage("Subcategoria " + this.subcategory.name + " modificada correctamente!", "success");
            }
            this.$parent.inPetition = false;
          }).catch((error) => {
            this.$parent.handleErrors(error);
            this.$parent.inPetition = false;
          });
        } else {
          axios.post(tools.url("/api/subcategory"), data).then((response) => {
            if(response.data.msg)
              this.$parent.showMessage(response.data.msg, "danger");
            else
            {
              var subcategory = response.data;
              this.$parent.showMessage("Subcategoria " + subcategory.name + " agregada correctamente!", "success");
              this.$router.push('/subcategories/edit/' + subcategory.id);
            }
            this.$parent.inPetition = false;
          }).catch((error) => {
            this.$parent.handleErrors(error);
            this.$parent.inPetition = false;
          });
        }
      }, (e) => {
        console.log(e);
        this.$parent.inPetition = false;
      });
    },
    
    deleteSubcategories: function() {
      alertify.confirm("Alerta!", "¿Seguro que deseas borrar este subcategoria?", () => {
          this.$parent.inPetition = true;
          axios.delete(tools.url("/api/subcategory/" + this.id)).then((response) => {
            this.$parent.showMessage(response.data.msg, "success");
            this.$router.push("/subcategories/");
            this.$parent.inPetition = false;
          }).catch((error) => {
            this.$parent.handleErrors(error);
            this.$parent.inPetition = false;
          });
        },
        () => {});
    },
  },
  mounted() {
    if (this.$route.params.id) {
      this.id = this.$route.params.id;
      this.getSubcategory();
    }
    this.getCategories();
  }
}
</script>
