<template lang="html">
  <div id="contact-page">

    <div class="container mb-3">
      <div class="row align-items-center row-top">
        <div class="col-12">
          <h1>Contacto</h1>
        </div>
      </div>
      <div class="row pt-lg-4">
        <div class="col-md-6 offset-lg-2 col-lg-4 order-1 order-md-0 col-form">
          <b-form @submit.prevent="onSubmit">

            <b-form-group label="Nombre:" label-for="fName">
              <b-form-input id="fName" size="sm"
                            type="text"
                            v-model="form.name"
                            required>
              </b-form-input>
            </b-form-group>

            <b-form-group label="Correo electrónico:" label-for="fMail">
              <b-form-input id="fMail" size="sm"
                            type="email"
                            v-model="form.email"
                            required>
              </b-form-input>
            </b-form-group>

            <b-form-group label="Asunto:" label-for="fSubject">
              <b-form-select id="fSubject" required v-model="form.subject" :options="opciones">
              </b-form-select>
            </b-form-group>

            <b-form-group label="Mensaje:" label-for="fMsg">
              <b-form-textarea id="fMsg"
                     v-model="form.text"
                     :rows="5"
                     :max-rows="5"
                     required>
              </b-form-textarea>
            </b-form-group>

            <p class="text-right">
              <b-button type="submit" size="sm" class="btn-send" variant="dark">Enviar</b-button>
            </p>

          </b-form>
        </div>

        <div class="col-md-6 col-lg-4 order-0 order-md-1 col-info">
          <h5 class="mb-0">¿Dudas?</h5>
          <p>
            Si tienes alguna duda o comentario, enviamos un mensaje a traves de nuestro formulario de contacto.
          </p>

          <h5 class="mb-0">¿Quejas o sugerencias?</h5>
          <p>
            Nos gusta escuchar a nuestros clientes, ayudanos a mejorar, describenos tu problema o apoyanos con alguna sugerencia.
          </p>

          <h6 class="mb-0">Teléfonos</h6>
          <p>
            01 (33) 36-46-09-45<br>
            01 (33) 35-87-77-36<br>
            01 (33) 33-67-48-95
          </p>

          <h6 class="mb-0">Domicilio</h6>
          <p>
            Hules Automotrices Becerra<br>
            Av. Cruz del Sur 3237, Jardines del Sur,<br>
            C.P. 44950, Guadalajara, Jalisco, México.<br>
            <br>
            <strong class="f-w-600">Horario:</strong> 09:00 a 15:00 y 16:00 a 18:30
          </p>

          <!-- <a class="map-link"><i class="fas fa-map-marker-alt"></i> Ver mapa</a> -->
        </div>
      </div>
    </div>

    <div class="container-fluid px-0 mt-4 mt-md-0 col-map" id="c-map">
      <GmapMap
        :center="{ lat: centeredMarker.position.lat , lng: centeredMarker.position.lng }"
        :zoom="centeredMarker.position.zoom"
        map-type-id="terrain"
        style="width: 100%;"
        >
        <GmapMarker
        :key="index"
        v-for="(m, index) in allMarkers"
        :position="m.position"
        :clickable="true"
        :draggable="false"
        @click="center=m.position"
        />
      </GmapMap>
    </div>
    <b-modal v-model="showModal"  title="Mensaje enviado!" centered header-bg-variant="success"  header-text-variant="light">
      Le responderemos lo mas pronto posible.
      <div slot="modal-footer" class="w-100">
         <b-btn size="sm" class="float-right" variant="success" @click="showModal = !showModal">Ok</b-btn>
       </div>
    </b-modal>
  </div>
</template>
<script>
export default {
  data(){
    return{
      form:{
        name: '',
        email: '',
        text:'',
        subject:"Pregunta",
      },
      showModal:false,
      opciones:[{value:"Pregunta",text:"Pregunta o duda"},
                {value:"Queja",text:"Queja"},
                {value:"Sugerencia",text:"Sugerencia"}],

      allMarkers: [
        { position: { lat: 20.639036, lng: -103.392162 } },
      ],

      centeredMarker: {
        position: {
          lat: 20.639036,
          lng: -103.392162,
          zoom: 16
        }
      }
    }
  },

  methods: {
    onSubmit(){
      axios.post(tools.url('/api/front/message'),this.form).then((response)=>{
        this.showModal = true;
      }).catch((error)=>{
        console.log(error);
      });
    }
  }
}
</script>
