<template>
    <div id="garantias">
         <div class="row mx-0 align-items-center banner">
      <div class="col-12 d-flex justify-content-center">
        <h1>GARANTIA</h1>
      </div>
    </div>

    <hr class="line">

        <div class="container oversized-container">
            <div class="row">
                <div class="col">
                    <b-form @submit.prevent="enviarGarantia()">
                        <div class="form-group">
                            <label for="fecha">Fecha de garantia:</label>
                            <b-form-group>
                                <b-form-input id="fecha" size="sm" type="date" v-model="form.fecha" required></b-form-input>
                            </b-form-group>
                         <p class="fecha">Ingresar fecha de la garantia</p>
                        </div>
                        <div class="form-group flex-row justify-content-center">
                            <label for="factura" class="factura">NO. de factura o ticket de compra: </label>
                            <b-form-group>
                                <b-form-input id="numero" type="text" v-model="form.numero" required></b-form-input>
                            </b-form-group>
                        </div>
                        <div class="form-group">
                            <label for="codigo">Codigo de producto:</label>
                            <b-form-textarea style="width:100%" id="codigo" v-model="form.codigo" placeholder="Ingresar codigo o numero de parte de la refaccion a garantia" required></b-form-textarea>
                        </div>
                        <div class="form-group">
                            <label for="problema">Problema / Falla descripcion:</label>
                            <b-form-textarea style="width:100%" id="problema" v-model="form.problema" placeholder="Describir la falla o problema que presenta su refaccion" required></b-form-textarea>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre del cliente, taller o empresa:</label>
                            <b-form-textarea style="width:100%" id="nombre" v-model="form.nombre" placeholder="Ingresar datos del contacto para ponernos en contacto lo antes posible" required></b-form-textarea>
                        </div>
                        <div class="form-group">
                            <label for="comentario">Comentarios u observaciones del cliente:</label>
                            <b-form-textarea style="width:100%" id="comentario" v-model="form.comentario" placeholder="Favor de llenar alguna observacion o duda que tenga que no se encuentre en los campos anteriores" required></b-form-textarea>
                        </div>
                        <div class="form-group">
                            <b-button style="width: 200px" type="submit" size="sm" class="btn-send" variant="dark">Enviar</b-button>
                        </div>
                    </b-form>
                </div>
            </div>
        </div>
        <b-modal v-model="showModal"  title="Mensaje enviado!" centered header-bg-variant="success"  header-text-variant="light">
          Le responderemos lo mas pronto posible.
          <div slot="modal-footer" class="w-100">
             <b-btn size="sm" class="float-right" variant="success" @click="showModal = !showModal">Ok</b-btn>
           </div>
        </b-modal>
    </div>
</template>

<script type="text/javascript">
export default {
    data(){
        return{
            form:{
                fecha:'',
                numero:'',
                codigo:'',
                problema:'',
                nombre:'',
                comentario:''
            },
            config:  {
                "title": "Showed Date Format",
                "inputClass": "exampleDatePicker",
                "lang": "es",
                "position": "left",
                "value": "2019-01-07T19:13:05.702Z",
                "dateFormat":{
                    "day": "2-digit",
                    "month": "2-digit",
                    "year": "numeric"
                }
            },
            showModal:false
        }
    },
    methods:{
        enviarGarantia(){
            axios.post(tools.url('/api/front/warranty'),this.form).then((response)=>{
                this.showModal = true;
            }).catch((error)=>{
                console.log(error);
            });
        }
    },
    mounted() {
        console.log('garantias has been mounted')
    }
}
</script>