<template>
    <div id="garantias">
         <div class="row mx-0 align-items-center rifa">
      <div class="col-12 d-flex justify-content-center">
        <h1>Rifa</h1>
      </div>
    </div>

    <hr class="line">

        <div class="container oversized-container">
            <div class="row">
                <div class="col">
                    <b-form @submit.prevent="enviarRifa()">

                        <div class="form-group flex-row justify-content-center">
                            <label for="factura" class="factura">NO. de factura o ticket de compra: </label>
                            <b-form-group>
                                <b-form-input id="numero" type="text" v-model="form.codigo" required></b-form-input>
                            </b-form-group>
                        </div>
                        <div class="form-group flex-row justify-content-center">
                            <label for="factura" class="factura">Nombre completo: </label>
                            <b-form-group>
                                <b-form-input id="numero" type="text" v-model="form.nombre" required></b-form-input>
                            </b-form-group>
                        </div>
                        <div class="form-group flex-row justify-content-center">
                            <label for="factura" class="factura">Correo de contacto: </label>
                            <b-form-group>
                                <b-form-input id="numero" type="email" v-model="form.correo" required></b-form-input>
                            </b-form-group>
                        </div>
                        <div class="form-group flex-row justify-content-center">
                            <label for="factura" class="factura">Telefono de contacto: </label>
                            <b-form-group>
                                <b-form-input id="numero" type="text" v-model="form.telefono" required></b-form-input>
                            </b-form-group>
                        </div>
                        <div class="form-group">
                            <b-button style="width: 200px" type="submit" size="sm" class="btn-send" variant="dark">Enviar</b-button>
                        </div>
                    </b-form>
                </div>
            </div>
        </div>

        <b-modal v-model="showModal"  title="Mensaje enviado!" centered header-bg-variant="success"  header-text-variant="light">
          {{msgModal}}
          <div slot="modal-footer" class="w-100">
             <b-btn size="sm" class="float-right" variant="success" @click="showModal = !showModal">Ok</b-btn>
           </div>
        </b-modal>
    </div>
</template>

<script type="text/javascript">
export default {
    data(){
        return{
            form:{
                codigo:'',
                correo:'',
                telefono:'',
                nombre:'',
            },
            config:  {
                "title": "Showed Date Format",
                "inputClass": "exampleDatePicker",
                "lang": "es",
                "position": "left",
                "value": "2019-01-07T19:13:05.702Z",
                "dateFormat":{
                    "day": "2-digit",
                    "month": "2-digit",
                    "year": "numeric"
                }
            },
            showModal:false,
            msgModal:'',
        }
    },
    methods:{
        enviarRifa(){
            axios.post(tools.url('/api/front/rifa'),this.form).then((response)=>{
                if(response.data == 1)
                {
                    this.msgModal = "Gracias por participar en nuestra rifa mensuall! Los ganadores se publicarán por Facebook, WhatsApp y en nuestro mostrador.";
                    this.showModal = true;
                }
                else
                {
                    this.msgModal = "El no. de ticket de compra que proporcionaste ya fue enviado";
                    this.showModal = true;
                }
            }).catch((error)=>{
                console.log(error);
            });
        }
    },
    mounted() {
        console.log('rifa has been mounted')
    }
}
</script>
<style lang="scss" scoped>
    .rifa{
    height: 200px;
    color: #fff;
    background-image: url('https://hulesbecerra.com/public/images/pages/services/ticket.jpg');
    background-size:cover;
    background-position-y:20%;

    h1{
      margin: 0;
      font-size: 3.3rem;
      font-weight: 700;
      text-align: center;
      text-shadow: 1px -2px 2px rgba(0,0,0,0.4);
    }

    @media screen and (max-width: 991px){
      padding-top: 20px;
      padding-bottom: 20px;
      height: auto;

      h1{
        font-size: 2.8rem;
      }
    }
  }
</style>