<template>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">

			<div class="panel panel-primary" data-collapsed="0">

				<div class="panel-heading">
					<div class="panel-title">
						<i class="fas fa-ring"></i> Carrusel
					</div>
					<div class="panel-options">
						<a @click="$router.push('/carruseles/')"><i class="fas fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<form role="form" class="form-horizontal" @submit.prevent="newCarrusel($event.target)">

						<input-form name="nombre" text="Nombre" :data.sync="carrusel.nombre" validate="required|min:3"></input-form>
						<input-form type="number" name="elementos" text="Elementos p/hoja" :data.sync="carrusel.elementos" validate="between:1,10"></input-form>
						<input-form type="posicion" name="posicion" text="Posición" :data.sync="carrusel.posicion" validate="between:1,20"></input-form>

						<div class="form-group">
			              <label class="col-sm-3 control-label">Visible:</label> 
			              <div class="col-sm-7">
			                <input type="checkbox" name="disponible" class="form-control" v-model="carrusel.visible">
			              </div>
			            </div>

						<select-form text="Productos" name="productos" :options="productosOpc" :data.sync="productosSeleccionados" :multiple="true"></select-form>


						<div class="form-group" style="margin-top: 3rem">
							<div class="col-sm-12">
								<button type="button" class="btn btn-danger" @click="deleteCarrusel()" v-show="$route.params.id"><i class="fa fa-trash"></i> Borrar</button>
								<button type="submit" class="btn btn-success pull-right"><i class="far fa-save"></i> Guardar</button>
								<button type="button" class="btn btn-default pull-right" @click="$router.push('/carruseles/')">Cancelar</button>
							</div>
						</div>



					</form>
				</div>
			</div>
		</div>

	</div>
</template>
<script type="text/javascript">
	export default {
		data(){
			return {
				carrusel:{
					nombre:'',
					visible:true,
					nombre:'',
					elementos:''
				},
				id:"",

				productosSeleccionados:[],
				productosOpc:[]
			}
		},
		methods:{
			getProductos(){
				axios.get(tools.url("/api/productos")).then((response)=>{
					this.productosOpc = response.data;
      				this.productosOpc = jQuery.map(this.productosOpc,(row)=>{
      					return {'value': row.id, 'label': row.sku + ' | ' + row.name};
      				});
				})
			},
			getCarrusel(){
				this.$parent.inPetition = true;
				axios.get(tools.url("/api/carrusel/"+this.id)).then((response)=>{
			    	this.carrusel = response.data;
			    	this.productosSeleccionados = jQuery.map(this.carrusel.productos,(row)=>{
      					return {'value': row.id, 'label':row.sku + ' | ' + row.name};
      				});
      				this.$parent.inPetition=false;
			    }).catch((error)=>{
			    	this.$parent.handleErrors(error);
			       this.$parent.inPetition=false;
			    });
			},
			newCarrusel:async function (form){
				this.$parent.inPetition=true;
				this.$parent.validateAll(()=>{

					var data = tools.params(form,this.carrusel);

					data.append('productos',JSON.stringify(this.productosSeleccionados));

					if(this.$route.params.id)
					{
						axios.post(tools.url("/api/carrusel/"+this.id),data).then((response)=>{
					    	this.getCarrusel();
					    	this.$parent.showMessage("Carrusel " + this.carrusel.nombre + " modificado correctamente!","success");
					    	this.$parent.inPetition = false;
					    }).catch((error)=>{
					    	this.$parent.handleErrors(error);
					        this.$parent.inPetition = false;
					    });
					}
					else
					{
						axios.post(tools.url("/api/carrusel"),data).then((response)=>
						{
							var carrusel = response.data;
					    	this.$parent.showMessage("Carrusel " + carrusel.nombre + " agregado correctamente!","success");
					    	this.$router.push('/carruseles/edit/' + carrusel.id );
					    	this.id = response.data.id;
					    	this.$parent.inPetition = false;
					    }).catch((error)=>{
					    	this.$parent.handleErrors(error);
					        this.$parent.inPetition=false;
					    });
					}
				},(e)=>{
					console.log(e);
					this.$parent.inPetition=false;
				});
			},
			deleteCarrusel:function(){
				alertify.confirm("Alerta!","¿Seguro que deseas borrar este carrusel?",()=>{
					this.$parent.inPetition=true;
					axios.delete(tools.url("/api/carrusel/"+this.id))
					.then((response)=>{
						this.$parent.showMessage(response.data.msg,"success");
						this.$router.push("/carruseles/");
						this.$parent.inPetition=false;
					})
					.catch((error)=>{
						this.$parent.handleErrors(error);
				        this.$parent.inPetition=false;
					});
				},
				()=>{
				});
			},
		},
		beforeMount(){
			this.getProductos();
		},
		mounted(){
			if(this.$route.params.id){
				this.id=this.$route.params.id;
				this.getCarrusel();
			}
		}
	}
</script>
