<template lang="html">
  <div id="company-page">
    <div class="row mx-0 align-items-center banner">
      <div class="col-12">
        <h1>Empresa</h1>
      </div>
    </div>

    <div class="container mt-5 pb-5 content">
      <div class="d-block">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <h5 class="mb-0">QUIENES SOMOS</h5>
            <p>
              En Hules Automotrices Becerra nos especializamos principalmente en las líneas de
              soporte de motor y transmisión, bandas automotrices e industriales, mangueras, topes,
              sistema de enfriamiento, hules en general, entre otras líneas. Somos una empresa
              jalisciense que cuenta con el conocimiento y experiencia de 20 años, buscando siempre
              ofrecer un servicio de calidad a nuestros clientes. Comercializando y distribuyendo
              productos en el mercado del repuesto de autopartes automotrices así como asesorando a
              nuestros consumidores en las principales marcas reconocidas del ramo automotriz e
              industrial.
            </p>
          </div>

          <!-- <div class="col-lg-3">
            <img class="img-fluid" src="public/images/shared/logo.png">
          </div> -->
        </div>

      <div class="row mt-5 text-center why-us">
        <div class="col-12 mb-4">
          <h4 class="text-center">¿Porqué nosotros?</h4>
        </div>

        <div class="col-lg-3">
          <img class="mb-3 icon img-fluid" src="public/images/pages/company/i-1-gris.png">

          <h6 class="mb-1">ASESORES CAPACITADOS</h6>
          <p>
            Nuestro personal esta plenamente capacitado para asesorarle de manera oportuna sobre nuestros productos.
          </p>
        </div>

        <div class="col-lg-3">
          <img class="mb-3 icon img-fluid" src="public/images/pages/company/i-2-gris.png">

          <h6 class="mb-1">JUSTO A TIEMPO</h6>
          <p>
            Estamos comprometidos en tener a tiempo los productos que ofrecemos en el momento que el cliente los requiere.
          </p>
        </div>

        <div class="col-lg-3">
          <img class="mb-3 icon img-fluid" src="public/images/pages/company/i-3-gris.png">

          <h6 class="mb-1">GARANTIA</h6>
          <p>
            Todos nuestros productos están garantizados y les damos solución inmediata a los imprevistos.
          </p>
        </div>

        <div class="col-lg-3">
          <img class="mb-3 icon img-fluid" src="public/images/pages/company/i-4-gris.png">

          <h6 class="mb-1">GAMA DE PRODUCTOS</h6>
          <p>
            Nuestro principal objetivo es ofrecerle la gama de productos más amplia y actualizada del mercado de repuestos.
          </p>
        </div>
      </div>

        <div class="row mt-4 align-items-center">
          <div class="col-lg-9">
            <h5 class="mb-0">MISION</h5>
            <p>
              Proveer productos de alta calidad dentro del ramo automotriz e industrial buscando siempre la innovación y lealtad de nuestros clientes, ofreciendo un servicio constante.
            </p>
          </div>

          <div class="col-lg-3">
            <img class="img-fluid bordered-img" src="public/images/pages/company/mision.jpg">
          </div>
        </div>

        <div class="row mt-4 align-items-center">
          <div class="col-lg-9">
            <h5 class="mb-0">VISIÓN</h5>
            <p>
              Penetrar el mercado nacional por medios electrónicos para dar a conocer la gran variedad de productos automotrices e industriales que comercializamos.
            </p>
          </div>

          <div class="col-lg-3">
            <img class="img-fluid bordered-img" src="public/images/pages/company/vision.jpg">
          </div>
        </div>

        <div class="row mt-4 align-items-center">
          <div class="col-lg-9">
            <h5 class="mb-0">VALORES</h5>
            <ul>
              <li>Excelencia: Estamos comprometidos en brindarles un servicio eficaz y de calidad a nuestros clientes.</li>
              <li>Responsabilidad: Ser constantes con el aprendizaje y crecimiento para brindarles un asesoría precisa.</li>
              <li>Respeto: Nos dirigimos siempre con educación a clientes, proveedores y compañeros dentro y fuera de la empresa.</li>
              <li>Proactividad: Actuamos de manera positiva ante cualquier problema que se presente, otorgando la solución mas efectiva.</li>
              <li>Trabajo en Equipo: La comunicación, empatía, aprendizaje e integración de nuestro personal es primordial para lograr nuestros objetivos organizacionales y satisfacer las necesidades de nuestros compradores.</li>
            </ul>
          </div>

          <div class="col-lg-3">
            <img class="img-fluid bordered-img" src="public/images/pages/company/valores.jpg">
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-7">
            <h5 class="mt-4">ESTOS SON ALGUNOS DE LOS PRODUCTOS QUE MANEJAMOS:</h5>

            <p class="txt-gray-sm">
              Soportes de Motor, • Soportes de Transmisión, • Cubrepolvos y/o Machetas, • Bases de amortiguador, • Repuestos de Soportes, • Mangueras para Radiador, • Mangueras del Cuerpo de Aceleración, • Mangueras de Vació, • Mangueras de Gasolina, • Bandas Automotrices e Industriales. • Hules de Barra, • Hules de Cremallera, • Hules de Poliuretano, • Hules de Escape, • Hules de amortiguador, • Calzas, • Casetas, • Hule Pela Pollos, • Sordinas, • Regatones •Coples y Galletas de Dirección, • Codos, • Fuelles, • Hules Misceláneos, • Placas de quinta rueda, • Pedales.
            </p>

            <p class="txt-gray-sm">
              • Depósitos de Anticongelante, • Radiadores, • Poleas de Accesorios y/o Poleas de Distribución, • Tensores, • Tubos de Agua, • Termostatos, • Bombas de Agua, • Tomas de Agua, • Anticongelante.
            </p>

            <p class="txt-gray-sm">
              • Empaques de Puerta, • Empaques de Cajuela, • Cañuelas, • Empaques planos, • Hule Pasillo, • Neopreno, • Nitrilo Sanitario, • Tapete para Caballo, • Antifatigas, • Picos de Pájaro, • Topes de Rebote, • Loderas, • Topes de Estacionamiento, • Tapetes Automotrices. • Limpiaparabrisas, • Pegamento Automotriz, • Abrazaderas, • Grapas Automotrices, • Autopartes, • Ligas, y muchos productos más de estos ramos.
            </p>
          </div>

          <div class="col-lg-5">
            <img class="img-fluid bordered-img" src="public/images/pages/company/productos-1.jpg">
          </div>
        </div>
      </div>

      <!-- <hr class="mt-3">

      <div class="row mt-5 text-center why-us">
        <div class="col-12 mb-4">
          <h4 class="text-center">¿Porqué nosotros?</h4>
        </div>

        <div class="col-lg-3">
          <img class="mb-3 icon img-fluid" src="public/images/pages/company/i-1.png">

          <h6 class="mb-1">ASESORES CAPACITADOS</h6>
          <p>
            Nuestro personal esta plenamente capacitado para asesorarle de manera oportuna sobre nuestros productos.
          </p>
        </div>

        <div class="col-lg-3">
          <img class="mb-3 icon img-fluid" src="public/images/pages/company/i-2.png">

          <h6 class="mb-1">JUSTO A TIEMPO</h6>
          <p>
            Estamos comprometidos en tener a tiempo los productos que ofrecemos en el momento que el cliente los requiere.
          </p>
        </div>

        <div class="col-lg-3">
          <img class="mb-3 icon img-fluid" src="public/images/pages/company/i-3.png">

          <h6 class="mb-1">GARANTIA</h6>
          <p>
            Todos nuestros productos están garantizados y les damos solución inmediata a los imprevistos.
          </p>
        </div>

        <div class="col-lg-3">
          <img class="mb-3 icon img-fluid" src="public/images/pages/company/i-4.png">

          <h6 class="mb-1">GAMA DE PRODUCTOS</h6>
          <p>
            Nuestro principal objetivo es ofrecerle la gama de productos más amplia y actualizada del mercado de repuestos.
          </p>
        </div>
      </div> -->

    </div>
  </div>
</template>

<script>
export default {
}
</script>
