<template>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">

			<div class="panel panel-primary" data-collapsed="0">

				<div class="panel-heading">
					<div class="panel-title">
						<i class="fa fa-life-ring"></i> Rifas
					</div>
					<div class="panel-options">
						<a @click="$router.push('/rifas/')"><i class="fas fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<form role="form" class="form-horizontal" @submit.prevent="newRifa($event.target)">

						<input-form name="nombre" text="Nombre" :data.sync="rifa.nombre" validate="required|min:3"></input-form>
						<input-form name="correo" text="Correo" :data.sync="rifa.correo" validate="required|min:3"></input-form>
						<input-form name="codigo" text="Codigo" :data.sync="rifa.codigo" validate="required|min:3"></input-form>
						<input-form name="telefono" text="Telefono" :data.sync="rifa.telefono" validate="required|min:3"></input-form>
					

						<div class="form-group">
							<div class="col-sm-12">
								<button type="button" class="btn btn-danger" @click="deleteRifa()" v-show="$route.params.id"><i class="fa fa-trash"></i> Borrar</button>
								<button type="submit" class="btn btn-success pull-right"><i class="far fa-save"></i> Guardar</button>
								<button type="button" class="btn btn-default pull-right" @click="$router.push('/rifas/')">Cancelar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</template>
<script type="text/javascript">
	export default {
		data(){
			return {
				rifa:{
					codigo:"",
					telefono:"",
					nombre:"",
					correo:"",
				},
				id:"",
	      check:false,
			}
		},
		methods:{
			getRifa(){
				this.$parent.inPetition=true;
				axios.get(tools.url("/api/rifa/"+this.id)).then((response)=>{
			    	this.rifa = response.data;
			    	this.$parent.inPetition=false;
			    }).catch((error)=>{
			    	this.$parent.handleErrors(error);
			        this.$parent.inPetition=false;
			    });
			},
			newRifa(form){
				this.$parent.inPetition=true;
				this.$parent.validateAll(()=>{
					var data=tools.params(form,this.rifa);
					if(this.$route.params.id){
						axios.post(tools.url("/api/rifa/"+this.id),data)
						.then((response)=>{
							if(response.data == 1)
							{
					    		this.getRifa();
						    	this.$parent.showMessage("Rifa "+this.rifa.nombre + " modificada correctamente!","success");
						    	this.$parent.inPetition=false;
					    	}
					    	else
					    	{
					    		this.$parent.showMessage("La rifa "+ this.rifa.codigo + " ya exite para otro usuario!","danger");
						    	this.$parent.inPetition=false;
					    	}
					    }).catch((error)=>{
					    	this.$parent.handleErrors(error);
					        this.$parent.inPetition=false;
					    });
					}
					else{
						axios.post(tools.url("/api/rifa"),data)
						.then((response)=>{
							if(response.data.code == 1)
							{
								var rifa = response.data.rifa;
						    	this.$parent.showMessage("Rifa " + rifa.nombre+" agregada correctamente!","success");
						    	this.$router.push('/rifas/edit/' + rifa.id);
						    	this.$parent.inPetition=false;
						    }
						    else
					    	{
					    		this.$parent.showMessage("El codigo "+ this.rifa.codigo + " ya exite para otro usuario!","danger");
						    	this.$parent.inPetition=false;
					    	}
					    }).catch((error)=>{
					    	this.$parent.handleErrors(error);
					        this.$parent.inPetition=false;
					    });
					}
				},(e)=>{
					console.log(e);
					this.$parent.inPetition=false;
				});
			},
			deleteRifa:function(){
				alertify.confirm("Alerta!","¿Seguro que deseas borrar esta Rifa?",()=>{
					this.$parent.inPetition=true;
					axios.delete(tools.url("/api/rifa/"+this.id))
					.then((response)=>{
						this.$parent.showMessage(response.data.msg,"success");
						this.$router.push("/rifas/");
						this.$parent.inPetition=false;
					})
					.catch((error)=>{
						this.$parent.handleErrors(error);
				        this.$parent.inPetition=false;
					});
				},
				()=>{

				});
			},
		},
		mounted(){
			if(this.$route.params.id){
				this.id = this.$route.params.id;
				this.getRifa();
			}
		}
	}
</script>
