<template>
  <div>
		<div class="row">
			<div class="col-md-12">
				<div id="toolbar">
			        <router-link to="/rifas/edit">
			        	<button class="btn btn-success btn-sm">
				            <i class="fa fa-plus"></i> Nuevo
				        </button>
			        </router-link>
			        <button class="btn btn-danger btn-sm" @click="deleteRifas()">
			            <i class="fa fa-trash"></i> Borrar
			        </button>
			    </div>
				<table id="rifas"></table>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
  export default {
  data(){
    return {
      rifas:{},
    }
  },
  methods:{
    mounthTable(){
      jQuery('#rifas').bootstrapTable({
        columns: [
          {
            field:"check",
            checkbox:true,
            align: 'center',
          },
          {
            field: 'codigo',
            title: 'Codigo',
            sortable:true,
            switchable:true,
          },
          {
            field: 'nombre',
            title: 'Nombre',
            sortable:true,
            switchable:true,
          },
          {
            field: 'correo',
            title: 'Correo',
            sortable:true,
            switchable:true,
          },
          {
            field: 'telefono',
            title: 'Telefono',
            sortable:true,
            switchable:true,
          }
        ],
        showRefresh:true,
      });

      jQuery('#rifas').on('refresh.bs.table',()=>{
        this.getRifas();
      });
      jQuery('#rifas').on('click-row.bs.table',(row,data)=>{
        this.$router.push('/rifas/edit/'+data.id);
      });
      this.getRifas();
    },
    getRifas(){
      this.$parent.inPetition=true;
      axios.get(tools.url("/api/rifas/")).then((response)=>{
          this.rifas=response.data;
          jQuery('#rifas').bootstrapTable('removeAll');
          jQuery('#rifas').bootstrapTable('append',this.rifas);
          this.$parent.inPetition=false;
        }).catch((error)=>{
            this.$parent.handleErrors(error);
            this.$parent.inPetition=false;
        });
    },
    deleteRifas:function(){
      var rows=jQuery('#rifas').bootstrapTable('getAllSelections');
      if(rows.length==0){
        return false;
      }
      alertify.confirm("Alerta!","¿Seguro que deseas borrar "+rows.length+" registros?",()=>{
        this.$parent.inPetition=true;
        var params={};
        params.ids=jQuery.map(rows,(row)=>{
          return row.id;
        });

        axios.delete(tools.url('/api/rifas'),{data:params})
        .then((response)=>{
          this.$parent.showMessage(response.data.msg,"success");
          this.getRifas();
          this.$parent.inPetition=false;
        })
        .catch((error)=>{
          this.$parent.handleErrors(error);
              this.$parent.inPetition=false;
        });

      },()=>{});


    }
  },
      mounted() {
          this.mounthTable();
      }
  }
</script>
