<template>
	<footer id="footer">
		<div class="container-fluid px-0 bulletin-section">
			<div class="container oversized-container">
				<div class="row py-4 align-items-center">
					<div class="col-lg-5">
						<h4 class="title-section">Suscribete a nuestro boletín</h4>

						<p class="mb-0 text">
							Recibe promociones y novedades que Hules Automotriz Becerra tienen para ti.
						</p>
					</div>

					<div class="offset-xl-1 col-lg">
						<b-form inline class="row px-3 px-sm-0 mt-3 mt-lg-0 form-bulletin" @submit.prevent="enviarBoletin()">
					      <b-input v-model="nombre" class="col-sm-4 col-lg-4 mb-2 mb-sm-0 mr-sm-2" placeholder="Tu nombre" required />

					      <b-input v-model="correo" type="email" class="col-sm-4 col-lg-4 mr-sm-2 mr-lg-0" placeholder="Tu correo electrónico" required />

					      <b-button type="submit" class="col-sm-3 col-lg-3 btn-bulletin mt-2 mt-sm-0 ml-sm-2" variant="dark">Suscribirse</b-button>
				    </b-form>
					</div>
				</div>
			</div>
		</div>

		<div class="container oversized-container footer-section">
			<div class="row py-4 align-items-center text-center text-lg-left">
				<div class="col-lg-2 mb-3">
					<img class="img-fluid footer-logo" src="public/images/shared/logo.png">
				</div>

				<div class="col-lg-10 col-xl-10">
					<div class="row">
						<div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
							<h5 class="footer-title"><span><i class="fas fa-phone"></i></span> Llamanos</h5>

							<p>01 (33) 3646 0945</p>
							<p>01 (33) 3587 7736</p>
							<p>01 (33) 3367 4895</p>
						</div>

						<div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
							<h5 class="footer-title"><span><i class="fas fa-home"></i></span> Oficinas</h5>

							<p>
								Av. Cruz del Sur No. 3237<br />
								Guadalajara, Jalisco.
							</p>

							<p class="mt-1">
								<i class="fas fa-clock"></i><strong> Horario</strong><br>
								Lunes a viernes de 9:00 a 18:30<br>
								Sábados de 09:00 a 14:00
							</p>
						</div>

						<div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
							<h5 class="footer-title"><router-link style="text-decoration: none;" to="/preguntas"><span><i class="fas fa-question"></i></span> Preguntas Frecuentes</router-link></h5>
							<h5 class="footer-title"><router-link style="text-decoration: none;" to="/garantia"><span><i class="fas fa-cube"></i></span> Garantia </router-link></h5>
							<h5 class="footer-title"><router-link style="text-decoration: none;" to="/privacidad"><span><i class="fas fa-book"></i></span> Aviso de privacidad</router-link></h5>
						</div>

						<div class="col-md-6 col-lg-3">
							<h5 class="footer-title"><span><i class="fas fa-envelope"></i></span> Escríbenos</h5>

							<p class="mb-1">contacto@hulesbecerra.com</p>

							<p>
								<a class="mr-2" target="_blank" href="https://es-la.facebook.com/pages/category/Motor-Vehicle-Company/HULES-Automotrices-Becerra-GDL-1080741468667230/"><i class="fab fa-facebook icon"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<b-modal v-model="showModal"  title="Subcripción" centered header-bg-variant="success"  header-text-variant="light">
		      {{msgModal}}
		      <div slot="modal-footer" class="w-100">
		         <b-btn size="sm" class="float-right" variant="success" @click="showModal = !showModal">Ok</b-btn>
		       </div>
		    </b-modal>
		</div>

		<div class="container-fluid py-3 text-center copyright-section">
			<p class="mb-0">Copyright {{ currentYear }}, Hules Automotrices Becerra</p>
		</div>

	</footer>
</template>

<script type="text/javascript">
export default {
	data(){
		return{
			currentYear: 0,
			nombre:'',
			correo:'',
			showModal:false,
			msgModal:'',
		}
	},
	methods:{
		enviarBoletin(){
			var datos = {
				nombre: this.nombre,
				correo: this.correo,
			};
			axios.post(tools.url('/api/front/boletin'),datos).then((response)=>{
				if(response.data == 1)
					this.msgModal = 'Se ha suscrito a nuestro boletin!';
				else 
					this.msgModal = 'Actualmente ya se encuentra suscrito a nuestro boletin';
				this.showModal = true;
			}).catch((error)=>{
				this.msgModal = 'Ocurrio un error, porfavor intente mas tarde';
				this.showModal = true;
				console.log(error);
			});
		}
	},

	beforeMount(){
		this.currentYear = new Date().getFullYear();
	}
}
</script>
