<style>
    @media screen and (min-width: 576px){
     .orilla{
        padding-left: 0px !important;
      }
    }
</style>
<template>
  <header id="header" class="container-fluid px-0">

    <div class="contactanos justify-content-center py-3">
       <p class="text-white align-self-center mt-3">SI NO ENCUENTRAS LO QUE BUSCAS PONTE EN CONTACTO CON ALGUNO DE NUESTROS ASESORES:  <span><i class="fab fa-whatsapp-square"></i></span> 331-728-38-18</p>
    </div>
   
    <div class="container oversized-container">

      <b-navbar toggleable="lg" type="dark">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

        <b-navbar-brand to="/">
          <div class="logo-container">
            <img src="public/images/logo.png" alt="Hules Automotrices Becerra">
          </div>
        </b-navbar-brand>

        <b-collapse is-nav id="nav_collapse">
          <b-navbar-nav class="header-menu">

            <b-nav-item-dropdown right>
              <template slot="button-content">
                Productos
              </template>

              <b-dropdown-item to="/productos/automotriz">Automotriz</b-dropdown-item>
              <b-dropdown-item to="/productos/industrial">Industrial</b-dropdown-item>
              <b-dropdown-item to="/productos/equipo_pesado">Equipo pesado</b-dropdown-item>
              <b-dropdown-item to="/productos/grapa_automotriz">Grapa automotriz</b-dropdown-item>
              <b-dropdown-item to="/productos/universal">Universal</b-dropdown-item>
              <b-dropdown-item to="/productos/empaque">Empaque</b-dropdown-item>
              <!--<b-dropdown-item to="/productos/otros">Otros</b-dropdown-item>-->
            </b-nav-item-dropdown>

            <b-nav-item to="/servicios">Servicios</b-nav-item>
            <b-nav-item to="/empresa">Empresa</b-nav-item>
            <b-nav-item to="/contacto">Contacto</b-nav-item>
             <b-nav-item to="/blog">Blog</b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto header-search-form">
              <input type="text" class="gray-input" placeholder="Buscar en nuestro catálogo" v-on:click="mostrar()"/>
              <b-button class="btn-search" v-on:click="mostrar()"><i class="fas fa-search"></i></b-button>

            <!--<b-navbar-nav class="header-menu adv-search-box">
              <li class="ml-2 mb-2 my-lg-0 nav-item btn-desktop">
                <a class="nav-link btn-advSearch" @click="$refs.modalAdSearch.show();"> <small class="f-w-600">Busqueda<br>avanzada</small> </a>
              </li>
              <li class="nav-item mb-2 text-right btn-mobile">
                <a class="nav-link btn-advSearch" @click="$refs.modalAdSearch.show();"> <small class="f-w-600">Búsqueda avanzada</small> </a>
              </li>
            </b-navbar-nav>-->

          </b-navbar-nav>

        </b-collapse>

      </b-navbar>
    </div>

    <!-- Modal "busqueda avanzada" -->
    <b-modal size="lg" class="modal-advsearch" ref="modalAdSearch" hide-header hide-footer>
      <a class="btn-close-modal" @click="$refs.modalAdSearch.hide();">
        <i class="far fa-times-circle"></i>
      </a>

      <h6 class="f-w-600">Búsqueda avanzada</h6>
        <b-form-group class="text-center">
          <input type="radio" value="automotriz" v-model="search.tipoBusqueda" name="some-radios" id="automotriz">
          <label class="mr-3" for="automotriz">Automotriz</label>
          <input type="radio" value="otros" v-model="search.tipoBusqueda" name="some-radios" id="otros">          
          <label for="otros">Otros</label>
        </b-form-group>
      <template v-if="search.tipoBusqueda=='automotriz'">
        <b-form class="row" inline @submit="advSearch">
          <b-input-group class="col-sm-3 mb-3">
            <b-form-select size="sm" :options="brands" v-model="search.brand"></b-form-select>
          </b-input-group>

          <b-input-group class="col-sm-2 px-sm-0 mb-3">
            <b-form-select size="sm" :options="models" v-model="search.model"></b-form-select>
          </b-input-group>

          <b-input-group class="col-sm-2 mb-3">
            <b-form-select size="sm" :options="motors" v-model="search.motor"></b-form-select>
          </b-input-group>

          <b-input-group class="col-sm-2 px-sm-0 mb-3">
            <b-form-select size="sm" :options="years" v-model="search.year"></b-form-select>
          </b-input-group>

          <b-input-group class="col-sm-3 mb-3">
            <b-form-select size="sm" :options="subcategories" v-model="search.subcategory"></b-form-select>
          </b-input-group>

          <b-input-group class="col-12 mb-3">
            <b-input type="text" size="sm" class="w-100" v-model="search.sku" placeholder="Busqueda por SKU" />
          </b-input-group>
          
          <b-input-group class="col-12 mb-3">
            <b-input type="text" size="sm" class="w-100" v-model="search.keywords" placeholder="Busqueda libre" />
          </b-input-group>

          <b-input-group class="offset-sm-8 col-sm-4 mb-2">
            <b-button type="submit" size="sm" class="w-100" variant="dark">Buscar</b-button>
          </b-input-group>
        </b-form>
      </template>
      <template v-else>
        <b-form class="row" inline @submit="advSearch">
          <b-input-group class="col-12 mb-3">
            <b-form-select size="sm" :options="subcategoriesOtros" v-model="search.subcategoryOtros"></b-form-select>
          </b-input-group>

          <b-input-group class="col-12 mb-3">
            <b-input type="text" size="sm" class="w-100" v-model="search.sku" placeholder="Busqueda por SKU" />
          </b-input-group>

          <b-input-group class="col-12 mb-3">
            <b-input type="text" size="sm" class="w-100" v-model="search.keywords" placeholder="Busqueda libre" />
          </b-input-group>
             
          <b-input-group class="offset-sm-8 col-sm-4 mb-2">
            <b-button type="submit" size="sm" class="w-100" variant="dark">Buscar</b-button>
          </b-input-group>
        </b-form>   
      </template>
    </b-modal>
  
  </header>
</template>

<script type="text/javascript">
export default {
  data(){
    return{
      // De busqueda avanzada
      search:{
        keywords:'',
        tipoBusqueda:'automotriz',
        subcategory:null,
        subcategoryOtros:null,
        brand:null,
        model:null,
        year:null,
        motor:null,
        sku:'',
      },
      brands:[{value:null,text:"Marca"}],
      models:[{value:null,text:"Modelo"}],
      subcategories:[{value:null,text:"Subcategoria"}],
      subcategoriesOtros:[{value:null,text:"Subcategoria"}],
      years:[{value:null,text:"Año"}],
      motors:[{value:null,text:"Motor"}],
    }
  },
  watch:{
    "search.brand": function() {
      if(this.search.brand == null)
      {
        this.search.model = null;
        this.models =[{value: null,text: "Modelo"}];
      }
      else
      {
        this.search.model = null;
        this.getModels();
      }
    },
    "search.model":function(){
      if(this.search.model == null)
      {
        this.search.motor = null;
        this.motors = [{value:null,text:"Motor"}];
      }
      else{
        this.search.motor = null;
        this.getMotors();
      }
    },
    "search.motor" :function(){
      if(this.search.motor == null)
      {
        this.search.year = null;
        this.years = [{value:null,text:"Año"}];
      }
      else
      {
        this.search.year = null;
        this.getYears();
      }
    }
  },
  methods:{
    getBrands(){
      axios.get(tools.url('/api/front/brands')).then((response)=>{
        this.brands = response.data;
        this.brands= jQuery.map(this.brands, (row) => {
          return {
            'value': row.id,
            'text': row.name
          };
        });
        this.brands.unshift({value: null, text: "Marca"});
      }).catch((error)=>{
        console.log(error);
      });
    },
    getModels(){
      axios.get(tools.url('/api/front/models/' + this.search.brand)).then((response)=>{
        this.models = response.data;
        this.models = jQuery.map(this.models, (row) => {
          return {
            'value': row.id,
            'text': row.name
          };
        });
        this.models.unshift({value: null,text: "Modelo"});
      }).catch((error)=>{
        console.log(error);
      });
    },
    getMotors(){
      axios.get(tools.url('/api/front/motors/' + this.search.model)).then((response)=>{
        this.motors = response.data;
        this.motors = jQuery.map(this.motors, (row) => {
          return {
            'value': row.id,
            'text': row.motor
          };
        });
        this.motors.unshift({value: null,text: "Motor"});
      }).catch((error)=>{
        console.log(error);
      });
    },
    getYears(){
      axios.get(tools.url('/api/front/years/' + this.search.motor)).then((response)=>{
        this.years = response.data;
        this.years = jQuery.map(this.years, (row) => {
          return {
            'value': row.year,
            'text': row.year
          };
        });
        this.years.unshift({value: null,text: "Año"});
      }).catch((error)=>{
        console.log(error);
      });
    },
    getSubcategories(){
      axios.get(tools.url('/api/front/subcategories')).then((response)=>{
        this.subcategories = response.data;
        this.subcategories = jQuery.map(this.subcategories, (row) => {
          return {
            'value': row.id,
            'text': row.name
          };
        });
        this.subcategories.unshift({value: null,text: "Subcategoria"});
      }).catch((error)=>{
        console.log(error);
      });
    },
    getSubcategoriesOtros(){
      axios.get(tools.url('/api/front/subcategoriesOtros')).then((response)=>{
        this.subcategoriesOtros = response.data;
        this.subcategoriesOtros = jQuery.map(this.subcategoriesOtros, (row) => {
          return {
            'value': row.id,
            'text': row.name
          };
        });
        this.subcategoriesOtros.unshift({value: null,text: "Subcategoria"});
      }).catch((error)=>{
        console.log(error);
      });
    },
    /*searchInfo(evt){
      evt.preventDefault();
      console.log('Buscando...');
      this.$router.push({ path: '/productos',
                          query: {
                            search:'a',
                            keywords:this.keywords
                          }
                        });
    },*/

    mostrar()
    {
      this.$refs.modalAdSearch.show();
      this.search = {
        keywords:'',
        tipoBusqueda:'automotriz',
        subcategory:null,
        subcategoryOtros:null,
        brand:null,
        model:null,
        year:null,
        motor:null,
        sku:'',
      };
    },
    advSearch(evt){
      evt.preventDefault();
      console.log('Busqueda avanzada...');

      this.$router.push({ path: '/productos',
                          query: {
                            search:'b',
                            keywords:this.search.keywords,
                            tipo:this.search.tipoBusqueda,
                            brand: this.search.brand,
                            model:this.search.model,
                            motor:this.search.motor,
                            year:this.search.year,
                            sku:this.search.sku,
                            subcategory:this.search.subcategory,
                            subcategoryOtros:this.search.subcategoryOtros
                            }
                        });
      this.$refs.modalAdSearch.hide();
    }
  },
  mounted(){
    this.getBrands();
    this.getSubcategories();
    this.getSubcategoriesOtros();
    /*for (var i = 2019 ; i >= 1950; i--)
    {
      this.years.push({value:i,text:i});
    }*/
  }
}
</script>
