<template>
	<div id="relleno">
    </div>
</template>

<script type="text/javascript">
export default {
	data(){
		return{
		}
	},
    mounted() {
        console.log('relleno has been mounted')
    },
	}
</script>
