<template lang="html">
  <div id="product-details-page" class="container oversized-container">
    <div class="row">
      <div class="col-12 col-top">
        <!--<h5>{{product.category.name}} / {{product.subcategory.name}}</h5>-->
        <h2 style="color: #208C52; font-size: 35px">{{product.name}}</h2>

        <div class="d-block mt-4 text-right">
          <a style="color: white" class="btn btn-dark btn-cotizar" v-on:click="cotizar()"><i class="fas fa-shopping-basket"></i> Cotizar</a>
        </div>

      </div>
    </div>
    <div class="row pt-3 pt-sm-5 pb-5" style="padding-bottom: 5rem !important">
      <div class="col-lg-5 col-gallery">
        <swiper style="height: 300px;" :options="swiperOptionTop" class="gallery-top" ref="swiperTop">
          <swiper-slide :style="'background-image: url('+ product.image1 +');'"></swiper-slide>
          <swiper-slide v-if="product.image2_id != 5" :style="'background-image: url('+ product.image2 +');'"></swiper-slide>
          <swiper-slide v-if="product.image3_id != 5" :style="'background-image: url('+ product.image3 +');'"></swiper-slide>
          <swiper-slide v-if="product.image4_id != 5" :style="'background-image: url('+ product.image4 +');'"></swiper-slide>
          <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
          <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
        </swiper>
        <!-- swiper2 Thumbs -->
          <swiper :options="swiperOptionThumbs" class="gallery-thumbs" ref="swiperThumbs">
            <swiper-slide :style="'background-image: url('+ product.image1 +');'"></swiper-slide>
            <swiper-slide v-if="product.image2_id != 5" :style="'background-image: url('+ product.image2 +');'"></swiper-slide>
            <swiper-slide v-if="product.image3_id != 5" :style="'background-image: url('+ product.image3 +');'"></swiper-slide>
            <swiper-slide v-if="product.image4_id != 5" :style="'background-image: url('+ product.image4 +');'"></swiper-slide>
          </swiper>
      </div>
      <div class="col-lg-7 col-info">
        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">SKU</strong>
            <span>{{product.sku}}</span>
          </p>
        </div>
        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">CATEGORIA</strong>
            <span>{{product.category.name}}</span>
          </p>
        </div>
        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">SUBCATEGORIA</strong>
            <span>{{product.subcategory.name}}</span>
          </p>
        </div>
        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">ESPECIFICACIONES</strong>
            <span v-html="product.specifications"></span>
          </p>
        </div>
        <template v-if="product.equivalence">
          <div class="d-block pl-lg-5">
            <h6 class="my-3 info-title">EQUIVALENCIAS</h6>
          </div>
          <div v-if=" product.equivalence1 !='' " class="d-block pl-lg-5 i-row">
            <p>
              <strong class="mr-3">{{product.equivalence1}}</strong>
            </p>
          </div>
          <div v-if=" product.equivalence2" class="d-block pl-lg-5 i-row">
            <p>
              <strong class="mr-3">{{product.equivalence2}}</strong>
            </p>
          </div>
          <div v-if=" product.equivalence3"class="d-block pl-lg-5 i-row">
            <p>
              <strong class="mr-3">{{product.equivalence3}}</strong>
            </p>
          </div>
        </template>
        <div v-if="product.apps.length > 0" class="d-block pl-lg-5">
          <h6 class="my-3 info-title">APLICACIONES</h6>          
        </div> 
        <div style="padding-bottom: 10px" v-for="(app,index) in product.apps" :key="index">
          <div class="d-block pl-lg-5">
            <h6 class="my-3 info-title">{{app.brand.name}} / {{app.model.name}}</h6>          
          </div> 
            <div class="d-block pl-lg-5 i-row">
              <p>
                <strong class="mr-3">MARCA</strong>
                <span>{{app.brand.name}}</span>
              </p>
            </div>
            <div class="d-block pl-lg-5 i-row">
              <p>
                <strong class="mr-3">MODELO</strong>
                <span>{{app.model.name}}</span>
              </p>
            </div>
            <div class="d-block pl-lg-5 i-row">
              <p>
                <strong class="mr-3">MOTOR</strong>
                <span>{{app.motor}}</span>
              </p>
            </div>
            <div class="d-block pl-lg-5 i-row">
              <p>
                <strong class="mr-3">RANGO DE AÑOS</strong>
                <span>{{app.year_min}} - {{app.year_max}}</span>
              </p>
            </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data(){
    return{
      product:{
        id:'',
        sku:'',
        name:'',
        image1_id:1,
        image2_id:1,
        image3_id:1,
        image4_id:1,
        image1:'',
        image2:'',
        image3:'',
        image4:'',
        equivalence:false,
        equivalence1:'',
        equivalence2:'',
        equivalence3:'',
        especifications:'',
        category:{
          name:''
        },
        subcategory:{
          name:''
        },
        apps:[],
        //stock:'' //por el momento no hay carrito
      },

      swiperOptionTop: {
        spaceBetween: 10,
        loop: true,
        loopedSlides: 5, //looped slides should be the same
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      swiperOptionThumbs: {
        spaceBetween: 10,
        slidesPerView: 4,
        touchRatio: 0.2,
        loop: true,
        loopedSlides: 5, //looped slides should be the same
        slideToClickedSlide: true,

        breakpoints: {
          1500:{
            slidesPerView: 4,
            centeredSlides: false
          },
          440: {
            slidesPerView: 3,
            centeredSlides: true
          }
        }
      }
    }
  },
  methods: {
    cotizar(){
      if(this.product.id>0 && this.product.id != '')
        this.$router.push({path: '/cotizacion',query:{id:this.product.id}});
    },
    getProduct(){
      axios.get(tools.url('/api/front/product/'+ this.id)).then((response)=>{
        this.product =response.data;
      }).catch((error)=>{
        console.log(error);
      });
    },
  },
  mounted() 
  {
    if (this.$route.params.id) {
      this.id = this.$root._getURLID(this.$route.params.id);
      this.getProduct();
    }
    this.$nextTick(() => {
      const swiperTop = this.$refs.swiperTop.swiper
      const swiperThumbs = this.$refs.swiperThumbs.swiper
      swiperTop.controller.control = swiperThumbs
      swiperThumbs.controller.control = swiperTop
    })
  }
}
</script>
<style type="text/css">
  .gallery-thumbs{
    height: 200px !important;
  }
</style>
