<template lang="html">
  <div id="products-page">

    <section class="container oversized-container title-section" id="ban" style="max-width: 100% !important;">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h1 class="category-name" id="titulo">Grapa automotriz</h1>
        </div>
      </div>
    </section>

    <section class="container-fluid px-0 py-4 mb-5 search-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-2 mb-md-0 text-center text-lg-left">
            <h4 class="text">Localiza tus refacciones</h4>
          </div>

          <div class="col-md-4 mb-2 mb-md-0">
            <b-form-input type="text"
                      v-model="searchP.keywords"
                      required
                      placeholder="¿Qué esta buscando?">
            </b-form-input>
          </div>

          <div class="col-md-3">
            <b-button variant="dark" v-on:click="refacciones()">Buscar</b-button>
          </div>
        </div>
      </div>
    </section>

    <section class="container oversized-container mb-4 products-section">
      <div class="col-12 d-flex justify-content-center col-pagination">
        <pagination :data="products" :limit="1" @pagination-change-page="getProducts"></pagination>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4 mb-4 product-box" v-for="product in products.data" :key="product.id">
          <router-link :to="'/productos/detalle/'+ $root._converToURL(product.name,product.id)">
          <div class="row align-items-end row-image">
            <div class="col-12">
              <img class="img-fluid product-image" :src="product.image1">
            </div>
          </div>
          <h5 class="product-name">{{ product.sku }}</h5>
          <h5 class="product-name">{{ product.subcategory.name }}</h5>
        </router-link>
        </div>
      </div>
       <div class="col-12 d-flex justify-content-center col-pagination">
        <pagination :data="products" :limit="1" @pagination-change-page="getProducts"></pagination>
      </div>
    </section>

  </div>
</template>

<script>
export default {
  data(){
    return{
      perPage:100,
      products:{data:[]},
      searchP: {
        keywords: ''
      }
    }
  },
  methods:{
    refacciones(){
      if(this.searchP.keywords =='')
        return;
      this.$router.push({ path: '/productos',query: {search:'a',keywords:this.searchP.keywords}});
    },
    getProducts(page = 1){
      axios.get(tools.url('/api/front/products/grapa/' + this.perPage + '?page=' + page)).then((response)=>{
        this.products = response.data.products;
        $('#ban').css("background","url(" + response.data.imageUrl + ")");
        $('#ban').css("background-size","cover");
        $('#titulo').css("color","white");
      }).catch((error)=>{
        console.log(error);
      });
    }
  },
  mounted(){
    this.getProducts(1);
  }
}
</script>
<style type="text/css">
#titulo {
    margin: 0;
    font-size: 3.3rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px -2px 2px rgba(0, 0, 0, 0.4);
}
</style>