<template lang="html">
  <div id="products-page">

    <section class="container oversized-container title-section">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h1 class="category-name">Resultados</h1>
          <div v-if="!consultaTerminada">
            <h4>Buscando coincidencias...</h4>
          </div>
          <div v-else>
            <h4 v-if="cant_products>1">{{cant_products}} Productos encontrados </h4>
            <h4 v-else-if="cant_products==1">1 Producto encontrado </h4>
            <h4 v-if="cant_products>0 && typeSearch=='a'"> Para "{{keywords}}"</h4>
          </div>
        </div>
      </div>
    </section>

    <section class="container-fluid px-0 py-4 mb-5 search-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-2 mb-md-0 text-center text-lg-left">
            <h4 class="text">Localiza tus refacciones</h4>
          </div>

          <div class="col-md-4 mb-2 mb-md-0">
            <b-form-input type="text" v-model="searchP.keywords" required placeholder="¿Qué esta buscando?"></b-form-input>
          </div>

          <div class="col-md-3">
            <b-button variant="dark" v-on:click="refacciones()">Buscar</b-button>
          </div>
        </div>
      </div>
    </section>

    <section class="container oversized-container mb-4 products-section">
      <div class="col-12 d-flex justify-content-center col-pagination">
        <pagination :data="products" :limit="1" @pagination-change-page="getProducts"></pagination>
      </div>
      <div v-if="bandera" class="text-center">
        <h3 v-if="typeSearch=='a'">No se encontraron coincidencias para "{{keywords}}"</h3>
        <h3 v-if="typeSearch=='b'">No se encontraron productos con esos parametros</h3>
      </div>
      <div v-else class="row">
        <div class="col-sm-6 col-lg-4 mb-4 product-box" v-for="product in products.data" :key="product.id">
          <router-link :to="'/productos/detalle/'+ $root._converToURL(product.name,product.id)">
          <div class="row align-items-end row-image">
            <div class="col-12">
              <img class="img-fluid product-image" :src="product.image1">
            </div>
          </div>
          <h5 class="product-name">{{ product.sku }}</h5>
          <h5 class="product-name">{{ product.subcategory.name }}</h5>
        </router-link>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center col-pagination">
        <pagination :data="products" :limit="1" @pagination-change-page="getProducts"></pagination>
      </div>
    </section>

  </div>
</template>

<script>
export default {
  data(){
    return{
      perPage:100,

      consultaTerminada:false,

      products:{data:[]},
      cant_products:0,
      bandera:false,

      //Variables de la busqueda avanzada-----
      search:{
        keywords:'',
        tipoBusqueda:null,
        subcategoryOtros:null,
        subcategory:null,
        brand:null,
        model:null,
        motor:null,
        year:null,
        sku:null
      },
      //--------------------------------------

      //Variable para la busqueda simple (barra de busqueda negra)
      keywords:'',
      //----------------------------------------------------------
      typeSearch:'a', //a por defecto ('a' significa busqueda rapida)
      searchP: {
        keywords: ''
      }
    }
  },
  watch:{
    "$route.query":function(){
      this.cant_products = 0;
      this.bandera = false;
      this.getParams();
    },
    products:function()
    {
      this.cant_products = this.products.length;
    }
  },
  methods:{
    refacciones(){
      if(this.searchP.keywords =='')
        return;
      this.$router.push({ path: '/productos',query: {search:'a',keywords:this.searchP.keywords}});
    },
    getProducts(page){
      if(this.typeSearch == 'a')
        this.simpleSearch(page);
      else if (this.typeSearch == 'b')
        this.advanceSearch(page);
    },
    advanceSearch(page = 1){
      this.consultaTerminada = false;
      axios.post(tools.url('/api/front/advanceFilter/' + this.perPage + '?page=' + page),this.search).then((response)=>{
        this.products = response.data;
        if(this.products.data.length<1)
          this.bandera = true;
      }).catch((error)=>{
        console.log(error);
      }).finally(()=>{
        this.consultaTerminada = true;
      });
    },
    simpleSearch(page = 1){
      this.consultaTerminada = false;
      axios.post(tools.url('/api/front/simpleFilter/'  + this.perPage + '?page=' + page),{keywords:this.keywords}).then((response)=>{
        this.products = response.data;
        if(this.products.data.length<1)
          this.bandera = true;
        else
          this.bandera = false;
      }).catch((error)=>{
        console.log(error);
      }).finally(()=>{
        this.consultaTerminada = true;
      });
    },
    getParams(){
      this.typeSearch = this.$route.query.search;
      if(this.typeSearch == 'a')
      {
        this.keywords = this.$route.query.keywords;
        this.simpleSearch(1);
      }
      else if(this.typeSearch == 'b')
      {
        this.search.tipoBusqueda = this.$route.query.tipo;
        this.search.brand = this.$route.query.brand;
        this.search.motor = this.$route.query.motor;
        this.search.model = this.$route.query.model;
        this.search.year = this.$route.query.year;
        this.search.subcategory = this.$route.query.subcategory;
        this.search.subcategoryOtros = this.$route.query.subcategoryOtros;
        this.search.sku = this.$route.query.sku;
        this.search.keywords = this.$route.query.keywords;
        this.advanceSearch(1);
      }
    }
  },
  mounted(){
    this.getParams();
  }
}
</script>
