<style>
  .subirOtros{
    padding: 5px 10px;
    background: #33B5FF;
    color:#fff;
    border:0px solid #fff;
}
 
.subirOtros:hover{
    color:#fff;
    background: #2D9BDA;
}
</style>
<template>
	<div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="text-center">
        <h4>Otros productos (Sin aplicación)</h4>
        <h4>Sube aquí tu archivo csv</h4>
        <label for="file" class="subirOtros">
          <i class="fas fa-file-upload"></i> {{file_name}}
        </label>     
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" style="display: none;"/>
      </div>
      <div class="row form-group">
        <div class="col-sm-12" style="padding-bottom: 10px">
          <button v-on:click="submitFile()" class="btn btn-success pull-right"><i class="fas fa-arrow-alt-circle-up"></i> Enviar</button>
          <button v-on:click="reset()" class="btn btn-default pull-right"">Borrar</button>
        </div>
      </div>
      <div class="row text-center" v-if="resultados!=''">
        <h3>Resultados</h3>
      </div>
      <div class="panel panel-primary" data-collapsed="0" v-if="resultados!=''">
        <div class="panel-body">
          <div cstyle="height:150px; overflow: auto; "class="col-sm-12">
            <p style="margin: 0px" v-for="resultado in resultados">{{resultado.msg}}</p>    
          </div>
        </div>
      </div>
    </div>
	</div>
</template>
<script type="text/javascript">
  export default {
  data(){
    return {
      resultados:'',
      file_name:'Elegir archivo',
      file:null,
    }
  },
  methods:{
    handleFileUpload(){
      this.file = this.$refs.file.files[0];
      this.file_name = this.file.name;
      this.resultados = '';
    },
    reset()
    {
      this.file = null;
      this.file_name = 'Elegir archivo';
      this.resultados = '';
    },
    submitFile(){
      this.$parent.inPetition=true;
      let formData = new FormData();
      formData.append('file',this.file);
      axios.post(tools.url('/api/fileOtros'),formData,{ headers: { 'Content-Type': 'multipart/form-data'}}).then((response)=>{
        console.log('SUCCESS!!');
        this.resultados = response.data;
        this.$parent.inPetition=false;
        this.$parent.showMessage("Archivo leido correctamente!");
      }).catch((error)=>{
        console.log('FAILURE!!');
        this.reset();
        this.$parent.handleErrors(error);
        this.$parent.inPetition=false;
      });
      this.file = null;
    }
  },
      mounted() {

      }
  }
</script>
