<template lang="html">
  <div id="purchases-page" class="container">

    <div class="row">
      <div class="col-12 mb-3">
        <h2 class="text-center main-title">Cotización</h2>
      </div>

      <div class="col-12 mb-5">

        <div class="table-responsive-lg">
          <table class="table table-sm text-center">
            <thead class="thead-dark">
              <tr>
                <th class="col-image" scope="col">Imagen</th>
                <th scope="col">SKU</th>
                <th scope="col">Subcategoria</th>
                <th scope="col">Cantidad</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>

              <tr v-for="(product, index) in productos">
                <th class="col-image" scope="row">
                  <img class="img-fluid" :src="product.image">
                </th>
                <th class="col-sku">{{product.sku}}</th>
                <th>{{product.subcategory}}</th>
                <td class="col-num">
                  <b-form-input size="sm" type="number" v-model="product.cantidad" required min="1"></b-form-input>
                </td>
                <td class="col-btns">
                  <router-link class="btn btn-sm btn-dark" target="_blank" :to="'/productos/detalle/' + product.id ">Ver detalles</router-link>
                </td>
                <td class="delete" v-on:click="eliminar(indice)"><i class="far fa-trash-alt"></i> Eliminar</td>
              </tr>

            </tbody>

          </table>
        </div>

        <hr class="mb-4">

        <div class="d-block text-right">
          <a class="btn btn-dark" target="_blank" v-on:click="cotizar()">Cotizar productos <i class="fas fa-shopping-basket"></i></a>
        </div>

      </div>
    </div>
    <b-modal v-model="showModal"  title="Cotización" centered header-bg-variant="success"  header-text-variant="light">
      <template v-if="tipoModal == 1">
        <b-form v-on:submit.prevent="realizarCotizacion()" class="w-100" action="index.html" method="post">
          <b-form-group label="Nombre:" label-for="name">

            <b-form-input type="text" name="name" required v-model="customer.name"></b-form-input>
          </b-form-group>

          <b-form-group label="Correo:" label-for="email">
            <b-form-input type="email" name="email" required v-model="customer.email"></b-form-input>
          </b-form-group>

          <b-form-group label="Telefono:" label-for="telphone">
            <b-form-input type="number" name="telphone" required v-model="customer.telphone"></b-form-input>
          </b-form-group>

          <p class="text-right">
              <b-button type="submit" size="sm" class="btn-send" variant="dark">Enviar</b-button>
            </p>

        </b-form>
        <div slot="modal-footer" class="w-100">
       </div>              
      </template>
      <template v-else-if="tipoModal == 2">
        Cotizacion enviada!<br>Le responderemos lo mas pronto posible.
      </template>
      <template v-else>
        Ocurrio un error, por favor intente mas tarde!
      </template>
    </b-modal>
  </div>
</template>

<script>
export default {
  data(){
    return{
       //Variables para la ventana modal

        showModal:false,
        tipoModal:1,

        compraExitosa: false,
        no_pedido:0,


        id_producto:0,

        productos: [],

        producto:{
          id:"",
          image:"",
          name:"",
          sku:"",
          subcategory:"",
          cantidad:"",
        },
        customer: {
            name: '',
            email: '',
            telphone: '',
        },

    }
  },
  methods:{
    cotizar(){
      this.tipoModal=1;
      this.showModal=true;
    },
    realizarCotizacion(){
      
    var data = {customer:this.customer,
                productos:this.productos};
      axios.post(tools.url('/api/front/cotizacion'),data).then((response)=>{
        this.tipoModal= 2;
        this.showModal = true;
      }).catch((error)=>{
        console.log(error);
        this.tipoModal=3;
        this.showModal=true;
      });
    },
    agregarALista(){
      var ya_existe = false;
        if(!Number.isNaN(this.$route.query.id) && this.$route.query.id > 0)
        {
          this.id_producto = this.$route.query.id;
          for (var i = 0; i <this.productos.length; i++)
            if(this.productos[i].id == this.id_producto)
              ya_existe = true;
          if(ya_existe == false)
          {
            axios.get(tools.url('/api/front/addProduct/' + this.id_producto)).then((response)=>
            {
              if(response.data)
              {
                this.producto.id = response.data.id;
                this.producto.image = response.data.image;
                this.producto.name = response.data.name;
                this.producto.sku = response.data.sku;
                this.producto.subcategory = response.data.subcategory.name;
                this.producto.cantidad = 1;
                this.productos.push(this.producto);
                localStorage.setItem('carrito',JSON.stringify(this.productos));
              }
            }).catch((error) => {
               console.log(error);
              });
          }

        }        
    },
    eliminar:function(indice){
        this.productos.splice(indice,1);
    },
    obtenerStorage: function(){
      var storage = localStorage.getItem('carrito');
      if(storage != null)
        this.productos = JSON.parse(storage);
    },
  },
  beforeMount(){ 
    this.obtenerStorage(); //Se busca en localstorage si ya existian productos agregados anteriormente.
    this.agregarALista(); //Se agrega el nuevo producto al carrito, mediante el id de la url
  },
}
</script>
