<style>
	textarea {
	  resize: vertical; /* user can resize vertically, but width is fixed */
	}
</style>
<template>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">

			<div class="panel panel-primary" data-collapsed="0">

				<div class="panel-heading">
					<div class="panel-title">
						<i class="fas fa-book-open"></i> Articulos
					</div>
					<div class="panel-options">
						<a @click="$router.push('/articles/')"><i class="fas fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<form role="form" class="form-horizontal" @submit.prevent="newArticle($event.target)">

						<input-form name="nombre" text="Nombre" :data.sync="article.name" validate="required|min:3"></input-form>
						
						
						<div class="form-group">
							<label class="col-sm-3 control-label">Foto:</label>
							<div class="col-sm-7">

								<div class="fileinput fileinput-new" data-provides="fileinput">
									<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;" data-trigger="fileinput">
										<img :src="article.imageUrl" alt="..." v-if="id!=''">
										<img src="//placehold.it/200x150?text=Imagen" alt="..." v-else>
									</div>
									<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px"></div>
									<div>
										<span class="btn btn-white btn-file">
											<span class="fileinput-new">Select image</span>
											<span class="fileinput-exists">Change</span>
											<input type="file" accept="image/*" name="image">
										</span>
										<a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Remove</a>
									</div>
								</div>

							</div>
						</div>

						<vue-editor id="editor" v-model="article.text"></vue-editor>

						<div class="form-group" style="margin-top: 3rem">
							<div class="col-sm-12">
								<button type="button" class="btn btn-danger" @click="deleteArticle()" v-show="$route.params.id"><i class="fa fa-trash"></i> Borrar</button>
								<button type="submit" class="btn btn-success pull-right"><i class="far fa-save"></i> Guardar</button>
								<button type="button" class="btn btn-default pull-right" @click="$router.push('/articles/')">Cancelar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</template>
<script type="text/javascript">
	export default {
		data(){
			return {
				//Variables para el editor de texto
			     customToolbar: [
			            [{ 'font': [] }],
			            [{ 'header': [false, 1, 2, 3, 4, 5, 6] }],
			            ['bold', 'italic', 'underline'],
			            [{'align': ''}, {'align': 'center'}, {'align': 'right'}, {'align': 'justify'}],
			            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
			            ['image', 'code-block']
			          ],

				article:{
					name:"",
					text:""
				},
				id:"",
	      		check:false,
			}
		},
		methods:{
			getArticle(){
				this.$parent.inPetition=true;
				axios.get(tools.url("/api/article/"+this.id)).then((response)=>{
			    	this.article=response.data;
			    	this.$parent.inPetition=false;
			    }).catch((error)=>{
			    	this.$parent.handleErrors(error);
			        this.$parent.inPetition=false;
			    });
			},
			newArticle(form){
				this.$parent.inPetition=true;
				this.$parent.validateAll(()=>{
					var data=tools.params(form,this.article);
					if(this.$route.params.id){
						axios.post(tools.url("/api/article/"+this.id),data)
						.then((response)=>{
					    	this.getArticle();
					    	this.$parent.showMessage("Articulo "+this.article.name+" modificado correctamente!","success");
					    	this.$parent.inPetition=false;
					    }).catch((error)=>{
					    	this.$parent.handleErrors(error);
					        this.$parent.inPetition=false;
					    });
					}
					else{
						axios.post(tools.url("/api/article"),data)
						.then((response)=>{
							var article=response.data;
					    	this.$parent.showMessage("Articulo "+article.name+" agregado correctamente!","success");
					    	this.$router.push('/articles/edit/'+article.id);
					    	this.$parent.inPetition=false;
					    }).catch((error)=>{
					    	this.$parent.handleErrors(error);
					        this.$parent.inPetition=false;
					    });
					}
				},(e)=>{
					console.log(e);
					this.$parent.inPetition=false;
				});
			},
			deleteArticle:function(){
				alertify.confirm("Alerta!","¿Seguro que deseas borrar este Articulo?",()=>{
					this.$parent.inPetition=true;
					axios.delete(tools.url("/api/article/"+this.id))
					.then((response)=>{
						this.$parent.showMessage(response.data.msg,"success");
						this.$router.push("/articles/");
						this.$parent.inPetition=false;
					})
					.catch((error)=>{
						this.$parent.handleErrors(error);
				        this.$parent.inPetition=false;
					});
				},
				()=>{

				});
			},
		},
		mounted(){
			if(this.$route.params.id){
				this.id=this.$route.params.id;
				this.getArticle();
			}
		}
	}
</script>
