<template>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">

			<div class="panel panel-primary" data-collapsed="0">

				<div class="panel-heading">
					<div class="panel-title">
						<i class="fa fa-life-ring"></i> Aplicacion
					</div>
					<div class="panel-options">
						<a @click="$router.push('/applications/show/'+ app.product_id)"><i class="fas fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<form role="form" class="form-horizontal" @submit.prevent="newApplication($event.target)">

						 <select-form text="Marca" :options="marcas" :data.sync="app.brand_id" validate="required"></select-form>
					    <select-form text="Modelo" :options="modelos" :data.sync="app.model_id" validate="required"></select-form>
					    <input-form name="motor" text="Motor" :data.sync="app.motor" validate="required"></input-form>
						<input-form type="number" name="año_min" text="Año inicio" :data.sync="app.year_min" validate="required|min:4"></input-form>
						<input-form type="number" name="año_max" text="Año fin" :data.sync="app.year_max" validate="min:4"></input-form>
						<!--<input-form name="specifications" text="Especificaciones" :data.sync="app.specifications"></input-form>-->
						<div class="form-group">
							<div class="col-sm-12">
								<button type="button" class="btn btn-danger" @click="deleteApplication" v-show="$route.params.id2"><i class="fa fa-trash"></i> Borrar</button>
								<button type="submit" class="btn btn-success pull-right"><i class="far fa-save"></i> Guardar</button>
								<button type="button" class="btn btn-default pull-right" @click="$router.push('/applications/show/' + app.product_id)">Cancelar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</template>
<script type="text/javascript">
	export default {
		data(){
			return {
				id:"",
				cargado:false,
				app:{
					product_id:"",
					brand_id:{label:'Selecciona una marca',value:null},
					model_id: {label:'Selecciona un modelo',value:null},
					motor:"",
					year_min:"",
					year_max:""
					//specifications:""
				},
				modelos:[],
				marcas:[],
			}
		},
		watch:{
			"app.brand_id":function(){
				if(this.app.brand_id.value != null)
				{
					this.models = [];
					if(!this.cargado)
						this.cargado = true;
					else
						this.app.model_id = {label:'Selecciona un modelo',value:null};
					this.getModels();
				}
			}
		},
		methods:{
			getApplication(){
				this.$parent.inPetition=true;
				axios.get(tools.url("/api/application/" + this.id)).then((response)=>{
			    	this.app = response.data;
			    	this.app.brand_id = { label:response.data.brand.name,
			    								 value:response.data.brand.id };
			    	this.app.model_id = { label:response.data.model.name,
			    									value:response.data.model.id };
			    	this.$parent.inPetition = false;
			    }).catch((error)=>{
			    	this.$parent.handleErrors(error);
			        this.$parent.inPetition = false;
			    });
			},
			getBrands(){
				axios.get(tools.url("/api/brands")).then((response)=>{
					this.marcas = response.data;
					this.marcas.forEach((v, k) => 
					{
			        	this.marcas[k].label = this.marcas[k].name;
			        	this.marcas[k].value = this.marcas[k].id;
			        });
				}).catch((error)=>{
					this.$parent.handleErrors(error);
				});
			},
			getModels(){
				axios.get(tools.url("/api/models/brand/" + this.app.brand_id.value)).then((response)=>{
					this.modelos = response.data;
					this.modelos.forEach((v, k) => 
					{
			        	this.modelos[k].label = this.modelos[k].name;
			        	this.modelos[k].value = this.modelos[k].id;
			        });
				}).catch((error)=>{
					this.$parent.handleErrors(error);
				});
			},
			newApplication(form){				
			    if(this.app.brand_id.value == null || this.app.brand_id.value == "")
			    {
			        this.$parent.showMessage("Seleccione una marca","danger");
			        return;
			    }
			    if(this.app.model_id.value == null || this.app.model_id.value == "")
			    {
			        this.$parent.showMessage("Seleccione un modelo","danger");
			        return;
			    }
				this.$parent.inPetition = true;
				this.$parent.validateAll(()=>{
					var data = tools.params(form,this.app);
					if(this.$route.params.id2)
					{
						axios.post(tools.url("/api/application/" + this.id),data)
						.then((response)=>{
							if(response.data.msg)
								this.$parent.showMessage(response.data.msg,"danger");
							else
							{
					    		this.getApplication();
					    		this.$parent.showMessage("Aplicacion modificada correctamente!","success");
					    	}
					    	this.$parent.inPetition=false;
					    }).catch((error)=>{
					    	this.$parent.handleErrors(error);
					        this.$parent.inPetition=false;
					    });
					}
					else
					{
						axios.post(tools.url("/api/application"),data).then((response)=>{
							if(response.data.msg)
								this.$parent.showMessage(response.data.msg,"danger");
							else
							{
								var product=response.data;
						    	this.$parent.showMessage("Aplicacion agregada correctamente!","success");
						    	this.$router.push("/applications/" + app.product_id + "/edit/" + product.id );
					    	}
					    	this.$parent.inPetition=false;

					    }).catch((error)=>{
					    	this.$parent.handleErrors(error);
					        this.$parent.inPetition=false;
					    });
					}
				},(e)=>{
					console.log(e);
					this.$parent.inPetition=false;
				});
			},
			deleteApplication:function(){
				alertify.confirm("Alerta!","¿Seguro que deseas borrar esta Aplicacion?",()=>{
					this.$parent.inPetition=true;
					axios.delete(tools.url("/api/application/"+this.id))
					.then((response)=>{
						this.$parent.showMessage(response.data.msg,"success");
						this.$router.push("/applications/show/"+this.app.product_id);
						this.$parent.inPetition=false;
					})
					.catch((error)=>{
						this.$parent.handleErrors(error);
				        this.$parent.inPetition=false;
					});
				},
				()=>{

				});
			},
		},
		mounted(){
			if(this.$route.params.id && this.$route.params.id2)
			{
				this.id = this.$route.params.id2;
				this.app.product_id = this.$route.params.id;
				this.getApplication();
			}
			else if(this.$route.params.id)
				this.app.product_id = this.$route.params.id;
			this.getBrands();
		}
	}
</script>
