<template>
<div>
  <div class="row">
    <div class="col-md-12">
      <div id="toolbar">
      </div>
      <div class="row text-center">
      	<h3>Descripcion del producto</h3>
  	  </div>
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th>Sku:</th>
            <td scope="row">{{producto.sku}}</td>
          </tr>
          <tr>
            <th scope="row">Nombre:</th>
            <td>{{producto.name}}</td>
          </tr>
          <tr>
            <th scope="row">Categoria:</th>
            <td>{{producto.category.name}}</td>
          </tr>
          <tr>
            <th scope="row">Subcategoria:</th>
            <td>{{producto.subcategory.name}}</td>
          </tr>
          <tr>
            <th scope="row">Existencias:</th>
            <td>{{producto.stock}}</td>
          </tr>
          <tr>
            <th scope="row">Equivalencia 1</th>
            <td>{{producto.equivalence1}}</td>
          </tr>
          <tr>
            <th scope="row">Equivalencia 2</th>
            <td>{{producto.equivalence2}}</td>
          </tr>
          <tr>
            <th scope="row">Equivalencia 3</th>
            <td>{{producto.equivalence3}}</td>
          </tr>
          <tr>
            <th scope="row">Especificaciones</th>
            <td>{{producto.specifications}}</td>
          </tr>
        </tbody>
      </table>
      <div class="row text-center">
      	<h3>Aplicaciones del producto</h3>
      </div>
      	<router-link :to="'/applications/' + id + '/edit'">
		   	<button class="btn btn-success btn-sm">
		        <i class="fa fa-plus"></i> Nuevo
		    </button>
		</router-link>
		<button class="btn btn-danger btn-sm" @click="deleteApplications()">
		    <i class="fa fa-trash"></i> Borrar
		</button>
      <table id="applications"></table>
    </div>
  </div>
</div>
</template>
<script type="text/javascript">
export default {
  data() {
    return {
      id:'',
      producto:{
      	sku:'',
      	name:'',
      	category:{
      		name:''
      	},
      	subcategory:{
      		name:''
      	},
      	stock:'',
      	equivalence3:'',
      	equivalence2:'',
      	equivalence1:'',
        specifications:'',
      }
    }
  },
  methods: {
    mounthTable() {
      jQuery('#applications').bootstrapTable({
        columns: [
        {
          field:"check",
          checkbox:true,
          align: 'center',
        },{
          field: 'brand.name',
          title: 'Marca',
          sortable: true,
          switchable: true,
        },{
          field: 'model.name',
          title: 'Modelo',
          sortable: true,
          switchable: true,
        },{
          field: 'motor',
          title: 'Motor',
          sortable: true,
          switchable: true,
        },{
          field: 'year_min',
          title: 'Año inicio',
          sortable: true,
          switchable: true,
        },{
          field: 'year_max',
          title: 'Año fin',
          sortable: true,
          switchable: true,
        }/*,{
          field: 'specifications',
          title: 'Especificaciones',
          sortable: true,
          switchable: true,
        },*/ ],
        showRefresh: true,
      });
      jQuery('#applications').on('refresh.bs.table', () => {
        this.getApplications();
      });
      jQuery('#applications').on('click-row.bs.table',(row,data)=>{
        this.$router.push('/applications/'+ this.id +'/edit/'+ data.id);
      });
      this.getApplications();
    },
    getApplications(){
      this.$parent.inPetition = true;
      axios.get(tools.url("/api/applications/" + this.id)).then((response) => {
        this.applications = response.data;
        jQuery('#applications').bootstrapTable('removeAll');
        jQuery('#applications').bootstrapTable('append', this.applications);
        this.$parent.inPetition = false;
      }).catch((error) => {
        this.$parent.handleErrors(error);
        this.$parent.inPetition = false;
      });
    },
    getProduct(){
      this.$parent.inPetition = true;
      axios.get(tools.url("/api/product/" + this.id)).then((response) => {
      this.producto = response.data;
      }).catch((error) => {
        this.$parent.handleErrors(error);
        this.$parent.inPetition = false;
      });
    },
    deleteApplications:function(){
      var rows=jQuery('#applications').bootstrapTable('getAllSelections');
      if(rows.length==0){
        return false;
      }
      alertify.confirm("Alerta!","¿Seguro que deseas borrar "+rows.length+" registros?",()=>{
        this.$parent.inPetition=true;
        var params = {};
        params.ids = jQuery.map(rows,(row)=>{
          return row.id;
        });
        axios.delete(tools.url('/api/applications'),{data:params})
        .then((response)=>{
          this.$parent.showMessage(response.data.msg,"success");
          this.getApplications();
          this.$parent.inPetition=false;
        })
        .catch((error)=>{
          this.$parent.handleErrors(error);
              this.$parent.inPetition=false;
        });
      },()=>{});
    }
  },
  mounted() {
    if(this.$route.params.id)
    {
        this.id = this.$route.params.id;
        this.getProduct();
    	this.mounthTable();
    }
  }
}
</script>
