<style>
	textarea {
	  resize: vertical; /* user can resize vertically, but width is fixed */
	}
</style>
<template>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">

			<div class="panel panel-primary" data-collapsed="0">

				<div class="panel-heading">
					<div class="panel-title">
						<i class="fa fa-life-ring"></i> Producto
					</div>
					<div class="panel-options">
						<a @click="$router.push('/products')"><i class="fas fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<form role="form" class="form-horizontal" @submit.prevent="newProduct($event.target)">

						<input-form name="sku" text="Sku" :data.sync="product.sku" validate="required"></input-form>
						<input-form name="Nombre" text="Nombre" :data.sync="product.name"></input-form>
						 <select-form text="Categoria" :options="categories" :data.sync="product.category_id" validate="required"></select-form>
					    <select-form text="Subcategoria" :options="subcategories" :data.sync="product.subcategory_id" validate="required"></select-form>
						<input-form type="number" name="Stock" text="Disponibilidad" :data.sync="product.stock"></input-form>
						<input-form name="equivalencia1" text="Equivalencia 1" :data.sync="product.equivalence1"></input-form>
						<input-form name="equivalencia1" text="Equivalencia 2" :data.sync="product.equivalence2"></input-form>
						<input-form name="equivalencia1" text="Equivalencia 3" :data.sync="product.equivalence3"></input-form>
						<input-form name="posicion" type="number" text="Posición de aparición" :data.sync="product.position"></input-form>

						<text-form name="especificaciones" text="Especificaciones" :data.sync="product.specifications"></text-form>

						<!--<div class="form-group">
  							<label for="field-2" class="col-sm-3 control-label">Especificaciones:</label>
  							<div class="col-sm-7">
  								<textarea class="form-control" rows="5" id="comment" v-model="product.specifications"></textarea>
  							</div>
						</div>-->

						<div class="form-group">
							<label class="col-sm-3 control-label">Fotos</label>
							<div class="col-sm-7">
								<div class="text-center" style="float:left;width: 50%">
									<div class="fileinput fileinput-new" data-provides="fileinput">
										<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;" data-trigger="fileinput">
											<img src="//placehold.it/200x150?text=Imagen 1" alt="..." v-if="id =='' || product.image1_id == 1 ">
											<img :src="product.image1Url" alt="..." v-else>
										</div>
										<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px"></div>
										<div>
											<span class="btn btn-white btn-file">
												<span class="fileinput-new">Select image</span>
												<span class="fileinput-exists">Change</span>
												<input type="file" accept="image/*" name="image1">
											</span>
											<a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Remove</a>
										</div>
									</div>
								</div>
								<div class="text-center" style="float:left;width: 50%">
									<div class="fileinput fileinput-new" data-provides="fileinput">
										<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;" data-trigger="fileinput">
											<img src="//placehold.it/200x150?text=Imagen 2" alt="..." v-if="id =='' || product.image2_id == 1">
											<img :src="product.image2Url" alt="..." v-else>
										</div>
										<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px"></div>
										<div>
											<span class="btn btn-white btn-file">
												<span class="fileinput-new">Select image</span>
												<span class="fileinput-exists">Change</span>
												<input type="file" accept="image/*" name="image2">
											</span>
											<a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Remove</a>
										</div>
									</div>
								</div>
								<div class="text-center" style="float:left;width: 50%">
									<div class="fileinput fileinput-new" data-provides="fileinput">
										<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;" data-trigger="fileinput">
											<img src="//placehold.it/200x150?text=Imagen 3" alt="..." v-if="id =='' || product.image3_id == 1">
											<img :src="product.image3Url" alt="..." v-else>
										</div>
										<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px"></div>
										<div>
											<span class="btn btn-white btn-file">
												<span class="fileinput-new">Select image</span>
												<span class="fileinput-exists">Change</span>
												<input type="file" accept="image/*" name="image3">
											</span>
											<a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Remove</a>
										</div>
									</div>
								</div>
								<div class="text-center" style="float:left;width: 50%">
									<div class="fileinput fileinput-new" data-provides="fileinput">
										<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;" data-trigger="fileinput">
											<img src="//placehold.it/200x150?text=Imagen 4" alt="..." v-if="id =='' || product.image4_id == 1">
											<img :src="product.image4Url" alt="..." v-else>
										</div>
										<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px"></div>
										<div>
											<span class="btn btn-white btn-file">
												<span class="fileinput-new">Select image</span>
												<span class="fileinput-exists">Change</span>
												<input type="file" accept="image/*" name="image4">
											</span>
											<a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Remove</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<button type="button" class="btn btn-danger" @click="deleteProduct" v-show="$route.params.id"><i class="fa fa-trash"></i> Borrar</button>
								<button type="submit" class="btn btn-success pull-right"><i class="far fa-save"></i> Guardar</button>
								<button type="button" class="btn btn-default pull-right" @click="$router.push('/products')">Cancelar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</template>
<script type="text/javascript">
	export default {
		data(){
			return {
				id:"",
				cargado:false, //bandera que evita que la subcategoria se reinicie
				product:{
					sku:"",
					name:"",
					stock:"",
					equivalence1:"",
					equivalence2:"",
					equivalence3:"",
					equivalence4:"",
					image1Url:"",
					image2Url:"",
					image3Url:"",
					image4Url:"",
					image1_id:1,
					image2_id:1,
					image3_id:1,
					image4_id:1,
					specifications:"",
					category_id:{label:'Selecciona una categoria',value:null},
					subcategory_id: {label:'Selecciona una subcategoria',value:null},
					position:1,
				},
				subcategories:[],
				categories:[{label:'Automotriz',value:1},
							{label:'Industrial',value:2},							
							{label:'Equipo pesado',value:3},
							{label:'Grapa automotriz',value:5},
							{label:'Empaque',value:4},
							{label:'Universal',value:6}],
			}
		},
		watch:{
			"product.category_id":function(){
				if(this.product.category_id.value != null)
				{
					this.subcategories = [];
					if(!this.cargado)
						this.cargado = true;
					else
						this.product.subcategory_id = {label:'Selecciona una subcategoria',value:null};
					this.getSubcategories();
				}
			}
		},
		methods:{
			getProduct(){
				this.$parent.inPetition=true;
				axios.get(tools.url("/api/product/"+this.id)).then((response)=>{
			    	this.product = response.data;
			    	this.cargado = false;
			    	this.product.category_id = { label:response.data.category.name,
			    								 value:response.data.category.id };
			    	this.product.subcategory_id = { label:response.data.subcategory.name,
			    									value:response.data.subcategory.id };
			    	this.$parent.inPetition = false;
			    }).catch((error)=>{
			    	this.$parent.handleErrors(error);
			        this.$parent.inPetition = false;
			    });
			},
			getSubcategories(){
				axios.get(tools.url("/api/subcategories/category/" + this.product.category_id.value)).then((response)=>{
					this.subcategories = response.data;
					this.subcategories.forEach((v, k) => 
					{
			        	this.subcategories[k].label = this.subcategories[k].name;
			        	this.subcategories[k].value = this.subcategories[k].id;
			        });
				}).catch((error)=>{
					this.$parent.handleErrors(error);
				});
			},
			newProduct(form){				
			    if(this.product.category_id.value == null || this.product.category_id.value == "")
			    {
			        this.$parent.showMessage("Seleccione una categoria","danger");
			        return;
			    }
			    if(this.product.subcategory_id.value == null || this.product.subcategory_id.value == "")
			    {
			        this.$parent.showMessage("Seleccione una subcategoria","danger");
			        return;
			    }
				this.$parent.inPetition = true;
				this.$parent.validateAll(()=>{
					var data = tools.params(form,this.product);
					if(this.$route.params.id)
					{
						axios.post(tools.url("/api/producto/" + this.id),data)
						.then((response)=>{
							if(response.data.msg)
								this.$parent.showMessage(response.data.msg,"danger");
							else
							{
					    		this.getProduct();
					    		this.$parent.showMessage("Producto "+this.product.sku+" modificado correctamente!","success");
					    	}
					    	this.$parent.inPetition=false;
					    }).catch((error)=>{
					    	this.$parent.handleErrors(error);
					        this.$parent.inPetition=false;
					    });
					}
					else
					{
						axios.post(tools.url("/api/producto"),data).then((response)=>{
							if(response.data.msg)
								this.$parent.showMessage(response.data.msg,"danger");
							else
							{
								var product=response.data;
						    	this.$parent.showMessage("Producto " + product.sku + " agregado correctamente!","success");
						    	this.$router.push('/products/edit/'+product.id);
					    	}
					    	this.$parent.inPetition=false;

					    }).catch((error)=>{
					    	this.$parent.handleErrors(error);
					        this.$parent.inPetition=false;
					    });
					}
				},(e)=>{
					console.log(e);
					this.$parent.inPetition=false;
				});
			},
			deleteProduct:function(){
				alertify.confirm("Alerta!","¿Seguro que deseas borrar este Producto?",()=>{
					this.$parent.inPetition=true;
					axios.delete(tools.url("/api/product/"+this.id))
					.then((response)=>{
						this.$parent.showMessage(response.data.msg,"success");
						this.$router.push("/products");
						this.$parent.inPetition=false;
					})
					.catch((error)=>{
						this.$parent.handleErrors(error);
				        this.$parent.inPetition=false;
					});
				},
				()=>{

				});
			},
			tinymce()
			{
				tinymce.init({
	                selector:'textarea#especificaciones',
	                init_instance_callback: (editor) => {
	                    editor.on('KeyUp', (e) => {
	                        this.product.specifications = editor.getContent();
	                    });
	                    editor.on('Change', (e) => {
	                        this.product.specifications = editor.getContent();
	                    });
	                    editor.setContent(this.product.specifications);
	                },
	            });

			},
		},
		mounted(){
			if(this.$route.params.id)
			{
				this.id = this.$route.params.id;
				this.getProduct();
			}
			setTimeout(() => {
		        this.tinymce();
			}, 1000);
		}
	}
</script>
