<template>
  <div>
		<div class="row">
      <div class="text-center"><h2>Productos</h2></div>
			<div class="col-md-12">
				<div id="toolbar">
			        <router-link to="/products/edit">
			        	<button class="btn btn-success btn-sm">
				            <i class="fa fa-plus"></i> Nuevo
				        </button>
			        </router-link>
			        <button class="btn btn-danger btn-sm" @click="deleteProducts()">
			            <i class="fa fa-trash"></i> Borrar
			        </button>
			    </div>
				<table id="products"></table>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
  export default {
  data(){
    return {
      products:{},
    }
  },
  methods:{
    mounthTable(){
      jQuery('#products').bootstrapTable({
        columns: [
          {
            field:"check",
            checkbox:true,
            align: 'center',
          },
          {
            field: 'position',
            title: 'Posición',
            sortable:true,
            switchable:true,
          },
          {
            field: 'sku',
            title: 'Sku',
            sortable:true,
            switchable:true,
          },
          {
            field: 'name',
            title: 'Nombre',
            sortable:true,
            switchable:true,
          },
          {
            field: 'image1',
            title: 'Imagen 1',
            sortable:true,
            switchable:true,
          },
          {
            field: 'image2',
            title: 'Imagen 2',
            sortable:true,
            switchable:true,
          },
          {
            field: 'image3',
            title: 'Imagen 3',
            sortable:true,
            switchable:true,
          },
          {
            field: 'image4',
            title: 'Imagen 4',
            sortable:true,
            switchable:true,
          },
          {
            field: 'category.name',
            title: 'Categoria',
            sortable:true,
            switchable:true,
          },
          {
            field: 'subcategory.name',
            title: 'Subcategoria',
            sortable:true,
            switchable:true,
          },
          {
            field: 'stock',
            title: 'Existencia',
            sortable:true,
            switchable:true,
          },
          {
            field:'specifications',
            title: 'Especificaciones',
            sortable:true,
            switchable:true,
          },
          {
            field: 'equivalence1',
            title: 'Equivalencia 1',
            sortable:true,
            switchable:true,
          },
          {
            field: 'equivalence2',
            title: 'Equivalencia 2',
            sortable:true,
            switchable:true,
          },
          {
            field: 'equivalence3',
            title: 'Equivalencia 3',
            sortable:true,
            switchable:true,
          },
        ],
        showRefresh:true,
      });
      jQuery('#products').on('refresh.bs.table',()=>{
        this.getProducts();
      });
      jQuery('#products').on('click-row.bs.table',(row,data)=>{
        this.$router.push('/products/edit/'+data.id);
      });
      this.getProducts();
    },
    getProducts(){
      this.$parent.inPetition=true;
      axios.get(tools.url("/api/productos")).then((response)=>{
          this.products=response.data;
          jQuery('#products').bootstrapTable('removeAll');
          jQuery('#products').bootstrapTable('append',this.products);
          this.$parent.inPetition=false;
        }).catch((error)=>{
            this.$parent.handleErrors(error);
            this.$parent.inPetition=false;
        });
    },
    deleteProducts:function(){
      var rows=jQuery('#products').bootstrapTable('getAllSelections');
      if(rows.length==0){
        return false;
      }
      alertify.confirm("Alerta!","¿Seguro que deseas borrar "+rows.length+" registros?",()=>{
        this.$parent.inPetition=true;
        var params={};
        params.ids=jQuery.map(rows,(row)=>{
          return row.id;
        });

        axios.delete(tools.url('/api/productos'),{data:params})
        .then((response)=>{
          this.$parent.showMessage(response.data.msg,"success");
          this.getProducts();
          this.$parent.inPetition=false;
        })
        .catch((error)=>{
          this.$parent.handleErrors(error);
              this.$parent.inPetition=false;
        });
      },()=>{});
    }
  },
      mounted() {
          this.mounthTable();
      }
  }
</script>
