<template>
    <div id="blog">
		 <div class="row mx-0 align-items-center banner">
      <div class="col-12 d-flex justify-content-center">
        <h1>Blog</h1>
      </div>
    </div>

    <hr class="line">

		<div class="container oversized-container">

            <template v-for="article in articles">
    			<div class="row">
                    <div class="col-12 col-md-5">
                        <div class="img-fluid">
                            <img :src="article.imageUrl" alt="">
                        </div>
                    </div>
                     <div class="col-12 col-md-7 info-articulo">
                          <h3 class="title text-center">{{article.name}}</h3>
                            <p><div v-html="article.text"></div></p>
                        </div>
    			</div>
                <hr>
            </template>
		</div>
		
    </div>
</template>

<script type="text/javascript">
export default {
	data(){
		return{
            articles:[]
		}
	},
    methods:{
        getArticles()
        {
            axios.get(tools.url('/api/front/articles')).then((response)=>{
                this.articles = response.data;
            }).catch((error)=>{
                console.log(error);
            });
        }
    },
    mounted() {
        this.getArticles();
        console.log('blog has been mounted')
    },
}
</script>
<style type="text/css">
    p{
        margin: 0;
    }
</style>