<template>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">

			<div class="panel panel-primary" data-collapsed="0">

				<div class="panel-heading">
					<div class="panel-title">
						<i class="fa fa-life-ring"></i> Boletines
					</div>
					<div class="panel-options">
						<a @click="$router.push('/boletines/')"><i class="fas fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<form role="form" class="form-horizontal" @submit.prevent="newBoletin($event.target)">

						<input-form name="nombre" text="Nombre" :data.sync="boletin.nombre" validate="alpha_spaces|required|min:3"></input-form>
						<input-form name="correo" text="Correo" :data.sync="boletin.correo" validate="required|min:3"></input-form>
					

						<div class="form-group">
							<div class="col-sm-12">
								<button type="button" class="btn btn-danger" @click="deleteBoletin()" v-show="$route.params.id"><i class="fa fa-trash"></i> Borrar</button>
								<button type="submit" class="btn btn-success pull-right"><i class="far fa-save"></i> Guardar</button>
								<button type="button" class="btn btn-default pull-right" @click="$router.push('/boletines/')">Cancelar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</template>
<script type="text/javascript">
	export default {
		data(){
			return {
				boletin:{
					nombre:"",
					correo:"",
				},
				id:"",
	      check:false,
			}
		},
		methods:{
			getBoletin(){
				this.$parent.inPetition=true;
				axios.get(tools.url("/api/boletin/"+this.id)).then((response)=>{
			    	this.boletin=response.data;
			    	this.$parent.inPetition=false;
			    }).catch((error)=>{
			    	this.$parent.handleErrors(error);
			        this.$parent.inPetition=false;
			    });
			},
			newBoletin(form){
				this.$parent.inPetition=true;
				this.$parent.validateAll(()=>{
					var data=tools.params(form,this.boletin);
					if(this.$route.params.id){
						axios.post(tools.url("/api/boletin/"+this.id),data)
						.then((response)=>{
							if(response.data == 1)
							{
					    		this.getBoletin();
						    	this.$parent.showMessage("Boletin "+this.boletin.nombre + " modificado correctamente!","success");
						    	this.$parent.inPetition=false;
					    	}
					    	else
					    	{
					    		this.$parent.showMessage("El correo "+ this.boletin.correo + " ya exite para otro usuario!","danger");
						    	this.$parent.inPetition=false;
					    	}
					    }).catch((error)=>{
					    	this.$parent.handleErrors(error);
					        this.$parent.inPetition=false;
					    });
					}
					else{
						axios.post(tools.url("/api/boletin"),data)
						.then((response)=>{
							if(response.data.code == 1)
							{
								var boletin=response.data.boletin;
						    	this.$parent.showMessage("Boletin " + boletin.nombre+" agregado correctamente!","success");
						    	this.$router.push('/boletines/edit/' + boletin.id);
						    	this.$parent.inPetition=false;
						    }
						    else
					    	{
					    		this.$parent.showMessage("El correo "+ this.boletin.correo + " ya exite para otro usuario!","danger");
						    	this.$parent.inPetition=false;
					    	}
					    }).catch((error)=>{
					    	this.$parent.handleErrors(error);
					        this.$parent.inPetition=false;
					    });
					}
				},(e)=>{
					console.log(e);
					this.$parent.inPetition=false;
				});
			},
			deleteBoletin:function(){
				alertify.confirm("Alerta!","¿Seguro que deseas borrar este Boletin?",()=>{
					this.$parent.inPetition=true;
					axios.delete(tools.url("/api/boletin/"+this.id))
					.then((response)=>{
						this.$parent.showMessage(response.data.msg,"success");
						this.$router.push("/boletines/");
						this.$parent.inPetition=false;
					})
					.catch((error)=>{
						this.$parent.handleErrors(error);
				        this.$parent.inPetition=false;
					});
				},
				()=>{

				});
			},
		},
		mounted(){
			if(this.$route.params.id){
				this.id=this.$route.params.id;
				this.getBoletin();
			}
		}
	}
</script>
