<template>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">

			<div class="panel panel-primary" data-collapsed="0">

				<div class="panel-heading">
					<div class="panel-title">
						<i class="fa fa-life-ring"></i> Categorias
					</div>
					<div class="panel-options">
						<a @click="$router.push('/categories/')"><i class="fas fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<form role="form" class="form-horizontal" @submit.prevent="newCategory($event.target)">

						<input-form name="nombre" text="Nombre" :data.sync="category.name" disabled="true"></input-form>

						<div class="form-group">
							<label class="col-sm-3 control-label">Foto:</label>
							<div class="col-sm-7">

								<div class="fileinput fileinput-new" data-provides="fileinput">
									<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;" data-trigger="fileinput">
										<img :src="category.imageUrl" alt="...">
									</div>
									<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px"></div>
									<div>
										<span class="btn btn-white btn-file">
											<span class="fileinput-new">Select image</span>
											<span class="fileinput-exists">Change</span>
											<input type="file" accept="image/*" name="image">
										</span>
										<a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Remove</a>
									</div>
								</div>

							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-success pull-right"><i class="far fa-save"></i> Guardar</button>
								<button type="button" class="btn btn-default pull-right" @click="$router.push('/categories/')">Cancelar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</template>
<script type="text/javascript">
	export default {
		data(){
			return {
				category:{
					name:"",
					imageUrl:"",
				},
				id:"",
	      check:false,
			}
		},
		methods:{
			getCategory(){
				this.$parent.inPetition=true;
				axios.get(tools.url("/api/categoria/"+this.id)).then((response)=>{
			    	this.category=response.data;
			    	this.$parent.inPetition=false;
			    }).catch((error)=>{
			    	this.$parent.handleErrors(error);
			        this.$parent.inPetition=false;
			    });
			},
			newCategory(form){
				this.$parent.inPetition = true;
				this.$parent.validateAll(()=>{
					var data = tools.params(form,this.category);
					axios.post(tools.url("/api/categoria/"+this.id),data).then((response)=>{
				        this.$parent.showMessage("Categoria "+this.category.name+" modificada correctamente!","success");
				    	this.$parent.inPetition = false;
				    }).catch((error)=>{
				    	this.$parent.handleErrors(error);
				        this.$parent.inPetition = false;
				    });
					
				},(e)=>{
					console.log(e);
					this.$parent.inPetition=false;
				});
			}
			
		},
		mounted(){
			if(this.$route.params.id){
				this.id=this.$route.params.id;
				this.getCategory();
			}
		}
	}
</script>
