<template>
  <div>
		<div class="row">
			<div class="col-md-12">
				<div id="toolbar"></div>
				<table id="categories"></table>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
  export default {
  data(){
    return {
      categories:{},
    }
  },
  methods:{
    mounthTable(){
      jQuery('#categories').bootstrapTable({
        columns: [
          {
            field:"check",
            checkbox:true,
            align: 'center',
          },
          {
            field: 'name',
            title: 'Nombre',
            sortable:true,
            switchable:true,
          },
          {
            field: 'imagen',
            title: 'Imagen',
            sortable:true,
            switchable:true,
          }
        ],
        showRefresh:true,
      });

      jQuery('#categories').on('refresh.bs.table',()=>{
        this.getCategories();
      });
      jQuery('#categories').on('click-row.bs.table',(row,data)=>{
        this.$router.push('/categories/edit/'+data.id);
      });
      this.getCategories();
    },
    getCategories(){
      this.$parent.inPetition=true;
      axios.get(tools.url("/api/categorias")).then((response)=>{
          this.categories = response.data;
          jQuery('#categories').bootstrapTable('removeAll');
          jQuery('#categories').bootstrapTable('append',this.categories);
          this.$parent.inPetition=false;
        }).catch((error)=>{
            this.$parent.handleErrors(error);
            this.$parent.inPetition=false;
        });
    }
  },
    mounted() {
      this.mounthTable();
    }
  }
</script>
